<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <!-- Begin Left Column -->
  <ul
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar"
    th:fragment="leftMenuFragment"
  >
    <!-- Sidebar - Brand -->
    <a
      class="sidebar-brand d-flex align-items-center justify-content-center"
      th:href="@{/mainTrainer}"
    >
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">LOGO</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />


    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">관리</div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo"
      >
      <i class="far fa-address-card"></i>
        <span>트레이너 프로필 관리</span>
      </a>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header"> 프로필 관리(자신)</h6>
          <a class="collapse-item" th:href="@{/profile_details}">내 프로필 보기</a>
          <a class="collapse-item" th:href="@{/profile_details}">내 프로필 수정</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseUtilities"
        aria-expanded="true"
        aria-controls="collapseUtilities"
      >
      <i class="fas fa-file-invoice-dollar"></i>
        <span>트레이너 프로모션 관리</span>
      </a>
      <div
        id="collapseUtilities"
        class="collapse"
        aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">프로모션 관리(자신)</h6>
          <a class="collapse-item" th:href="@{/bank_number_details}">프로모션 등록(자신)</a>
          <a class="collapse-item" th:href="@{/trainerMyPromotionList}">프로모션 조회(자신)</a>
          <a class="collapse-item" th:href="@{/settlement_list}">프로모션 수정(자신)</a>
          <a class="collapse-item" th:href="@{/settlement_list}">프로모션 삭제(자신)</a>
          <!-- <a class="collapse-item" href="utilities-other.html">Other</a> -->
        </div>
      </div>
    </li>


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapsePages"
        aria-expanded="true"
        aria-controls="collapsePages"
      >
      <i class="fas fa-dumbbell"></i>
        <span>회원 스케줄관리</span>
      </a>
      <div
        id="collapsePages"
        class="collapse"
        aria-labelledby="headingPages"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">회원 스케줄 관리:</h6>
          <a class="collapse-item" th:href="@{/promotion_progress_list}">스케줄등록(음식,운동)</a>
          <a class="collapse-item" th:href="@{/promotion_completion_list}">스케줄수정(음식,운동)</a>
          <a class="collapse-item" th:href="@{/promotion_completion_list}">스케줄삭제(음식,운동)</a>
          <a class="collapse-item" th:href="@{/promotion_completion_list}">스케줄조회(음식,운동)</a>
      
      </div>
    </li>

    <li class="nav-item">
      <!--data-target="#collapseTwo2" 여길변경해야함-->
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseTwo2"
        aria-expanded="true"
        aria-controls="collapseTwo"
      >
      <i class="fas fa-calendar-alt"></i>
        <span>메시지관리 </span>
      </a>
      <div
        id="collapseTwo2"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">메세지관리</h6>
          <a class="collapse-item" th:href="@{/trainerSendMessage}">메시지 송신</a>
          <a class="collapse-item" th:href="@{/master_user_schedule}">송신메시지 조회</a>
          <a class="collapse-item" th:href="@{/master_user_schedule}">수신메시지 조회</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <!--data-target="#collapseTwo2" 여길변경해야함-->
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseTwo3"
        aria-expanded="true"
        aria-controls="collapseTwo"
      >
      <i class="fas fa-users-cog"></i>
        <span>계좌관리</span>
      </a>
      <div
        id="collapseTwo3"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">결제 관리:</h6>
          <a class="collapse-item" th:href="@{/memberlist}">계좌등록</a>
          <a class="collapse-item" th:href="@{/inactive_accounts_list}">계좌수정</a>
          <a class="collapse-item" th:href="@{/dormant_list}">정산조회</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <!--  <div class="sidebar-card">
                <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
            </div> -->
  </ul>
</html>
