<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   
 <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4"  th:fragment="leftMenuFragment">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">로고</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">id002(트레이너)</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="#" class="nav-link">
                	<i class="nav-icon fas fa-edit"></i>
              <p>
                	 프로필 관리
                	<i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/mailbox/mailbox.html" class="nav-link">
                  <p> 프로필 등록</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/mailbox/compose.html" class="nav-link">
                  <p> 프로필 수정</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="pages/gallery.html" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                	 프로모션 관리
                	<i class="fas fa-angle-left right"></i>
              </p>
            </a>
             <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/mailbox/mailbox.html" class="nav-link">
                  <p> 프로모션 등록</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/mailbox/compose.html" class="nav-link">
                  <p> 프로필 조회</p>
          		</a>
          		</li>
              <li class="nav-item">
                <a href="pages/mailbox/compose.html" class="nav-link">
                  <p> 프로필 수정</p>
                  </a>
          		</li>
              <li class="nav-item">
                <a href="pages/mailbox/compose.html" class="nav-link">
                  <p> 프로필 삭제</p>
                  </a>
          		</li>
          		</ul>
          <li class="nav-item">
            <a href="pages/kanban.html" class="nav-link">
              <i class="nav-icon fas fa-columns"></i>
              <p>
              	회원 스케줄 관리
              	<i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/mailbox/mailbox.html" class="nav-link">
                  <p>스케줄등록(음식,운동)</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="pages/mailbox/compose.html" class="nav-link">
                  <p>스케줄조회(음식,운동)</p>
                  </a>
          		</li>
              <li class="nav-item">
                <a href="pages/mailbox/compose.html" class="nav-link">
                  <p>스케줄수정(음식,운동)</p>
          		</a>
          		</li>
              <li class="nav-item">
                <a href="pages/mailbox/compose.html" class="nav-link">
                  <p>스케줄삭제(음식,운동)</p>
                  </a>
          		</li>
             
          		</ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-envelope"></i>
              <p>
               	쪽지관리
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/mailbox/mailbox.html" class="nav-link">
                  <p>쪽지 작성</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/mailbox/compose.html" class="nav-link">
                  <p>받은 쪽지함</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/mailbox/read-mail.html" class="nav-link">
                  <p>보낸 쪽지함</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
			 <a href="pages/mailbox/read-mail.html" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
              <p>계좌관리</p>
                  <i class="fas fa-angle-left right"></i>
            </a>
           <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/mailbox/mailbox.html" class="nav-link">
                  <p>쪽지 작성</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/mailbox/compose.html" class="nav-link">
                  <p>받은 쪽지함</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/mailbox/read-mail.html" class="nav-link">
                  <p>보낸 쪽지함</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</html>
