<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>결제된놈들 (눌럿을때 운동넣어주기위해 일단 만듬)</h1>
	
<table>
	<tr>
		<td>아이디</td>
	</tr>
	<tr th:each="m: ${memberList}">
		<td>
			<!-- <td>
                <a th:text="${m.trainerPromotionName}" th:href="@{/myPromotionMemberList(promotionCode=${m.trainerPromotionNoticeCode})}"></a>
            </td> -->
		
			<a th:text="${m.userId}" th:href="@{/}"></a>
		</td>
	</tr>
</table>
</body>
</html>