<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}"></title>
  </head>
  <body>
    <h1>#Food List 화면입니다.</h1>
    <table border="1">
      <thead>
          <h4>식품 정보는 1인분 기준으로 제공되며 몇몇 정보는 누락되어있음.</h4>
          <tr>
              <th>식품코드</th>
              <th>식품이름</th>
              <th>총량(1인분)</th>
              <th>칼로리</th>
              <th>탄수화물</th>
              <th>단백질</th>
              <th>지방</th>
              <th>나트륨</th>
              <th>당</th>
              <th>콜레스테롤</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
      </tbody>
    </table>
  </body>
</html>
