<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{default_layout/main/default}" lang="en">
<title th:text="${title}"></title>

<th:block layout:fragment="mainContent">
    <div class="container">
        <h2 align="center">문의 하기</h2>
        <form id="inquiry_insert" name="inquiry_insert" method="post" th:action="@{/inquiryInsertProc}">
            <table class="table table-striped" align="center">
                <tr>
                    <td>제목</td>
                    <td>
                        <input type="text" class="form-control" id="inquiryTitle" name="inquiryTitle" />
                        <input type="hidden" th:value="${SID}" id="userId" name="userId" />
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-2">문의 내용</td>
                    <td class="col-sm-10">
                        <textarea class="form-control" rows="3" id="inquiryContents" name="inquiryContents"></textarea>
                    </td>
                </tr>
            </table>
            <input type="submit" id="submit" value="문의 등록" class="btn">
        </form>
    </div>
</th:block>

</html>