<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/master/head :: headFragment"></head>
<body id="page-top">
	<div id="wrapper">
		<div th:replace="fragments/master/left :: leftMenuFragment"></div>
		<div id="content-wrapper" class="d-flex flex-column">
			<div th:replace="fragments/master/header :: headerFragment"></div>
			<div id="content">
				<div th:block layout:fragment="customContent"></div>
			</div>
			<div th:replace="fragments/master/footer :: footerFragment"></div>
		</div>
	</div>
	<div th:replace="fragments/master/js :: jsFragment"></div>
</body>
</html>
