<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메인화면 중 운동</title>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
	<h1>전체조회</h1>

	<h1>70kg인 사람의 기준(평균무게)</h1>
	 <table border="1">
		<tr>
			<th>운동이름</th>
			<th>cals/시간</th>
			<th>met계수</th>
		</tr>
		<tr th:each="e : ${MetExercise}">
			<td th:text="${e.exerciseName}"></td>
			<td th:text="${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*60/1000)*5,0)}"></td>
			<td th:text="${e.exerciseMetCoeffcient}"></td>
		</tr>
	</table>
	<h3>운동 유형별 에너지 소비량</h3>
	<table border="1" style="display: inline-block;">
		<tr>
			<th>가벼운 운동</th>
		</tr>
		<tr th:each="e : ${MetExercise}"
			th:if="${e.exerciseMetCoeffcient} < 3 ">
			<td th:text="${e.exerciseName}"></td>

		</tr>
	</table>
	<table border="1" style="display: inline-block;">
		<tr>
			<th>보통 운동</th>
		</tr>
		<tr th:each="e : ${MetExercise}"
			th:if="${e.exerciseMetCoeffcient} <= 6 and ${e.exerciseMetCoeffcient}>=3">
			<td th:text="${e.exerciseName}"></td>

		</tr>
	</table>
	<table border="1" style="display: inline-block;">
		<tr>
			<th>격렬한 운동</th>
		</tr>
		<tr th:each="e : ${MetExercise}"
			th:if="${e.exerciseMetCoeffcient} > 6">
			<td th:text="${e.exerciseName}"></td>

		</tr> 
	</table> 
	

	
</body>
</html>