<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/main/default}"
  lang="en"
>
	<th:block layout:fragment="mainContent">
	<div class="container">
	<div class="search-box">
	<form th:action="@{/serachExercise}" method="post">
		<h1>운동 검색</h1>
		<select name="met_coefficient" >
				<option value="all">전체</option>
				<option value="easy">가벼움</option>
				<option value="normal">보통</option>
				<option value="hard">격렬함</option>
		</select>
		<input type="text" name="exercise_name">
		<button type="submit" class ="btn btn-success">검색하기</button>
	</form>
	</div>
	<div class="row">
	<table class="table">
		<tbody>
			<tr valign="top" class="align-left">
				<td class="borderBottom">
					<a class="prominent" title="TV 시청" href="/%ED%94%BC%ED%8A%B8%EB%8B%88%EC%8A%A4/tv-%EC%8B%9C%EC%B2%AD">
						<b>TV 시청</b>
					</a>
				<div class="smallText greyText">
									강도: 가벼움<br>
									<b>70 kg</b>이신 분에 대한: MET - 2.0, cals/시간 - 147
								</div>
								<div class="smallText" align="right">
									<a href="/%ED%94%BC%ED%8A%B8%EB%8B%88%EC%8A%A4/tv-%EC%8B%9C%EC%B2%AD">더보기</a>
								</div>
							</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	</th:block>

</body>
</html>