<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/main/default}"
  lang="en"
>
<th:block layout:fragment="mainContent">
	<div class="container">
		<div class="search-box">
			<form th:action="@{/serachExercise}" method="post">
				<h1>운동 검색</h1>
				<select name="met_coefficient" >
					<option value="all">전체</option>
					<option value="easy">가벼움</option>
					<option value="normal">보통</option>
					<option value="hard">격렬함</option>
				</select>
				<input type="text" name="exercise_name">
				<button type="submit" class ="btn btn-success">검색하기</button>
			</form>
		</div>
		<div class="row">
			<table class="table">
			<tbody>
				<tr valign="top" class="text-left" th:each="s : ${exerciseList}">
					<td class="borderBottom">
						<a class="prominent" th:href="@{/exerciseInfo(exerciseName=${s.get('exercise_name')})}">
						<b th:text="${s.get('exercise_name')}"></b>
						</a>
						<div class="smallText greyText">
							<p>강도:
								<span th:if="${s.get('met_coefficient')} < 3 " th:text="가벼움"></span>
								<span th:if="${s.get('met_coefficient')} <= 6 and ${s.get('met_coefficient')}" th:text="보통"></span>
								<span th:if="${s.get('met_coefficient')} > 6" th:text="격렬함"></span>
								<br><strong>70 kg</strong>이신 분에 대한: MET -<span th:text="${s.get('met_coefficient')}"></span>
								,cals/시간 -<span th:text="${#numbers.formatInteger(s.get('met_coefficient')*(3.5*70*60/1000)*5,0)}"></span>
							</p>
						</div> 
						<div class="smallText" align="right">
							<a th:href="@{/exerciseInfo}">더보기</a>
						</div>
					</td>
				</tr>
			</tbody>
			</table>
		</div>
		<nav aria-label="Page navigation" class="nav justify-content-center bg-light">
			<ul class="pagination">
       		 	<li>
          			<a th:href="@{/serachExercise(exercise_name=${exerciseName},met_coefficient=${metCoefficient})}">맨처음</a>
        		</li>
        		<!-- disabled가 있으면 마우스 커서가 금지표시로 바뀐다. class=disabled -->
        		<li>
        			<a th:if="${currentPage > 1}" th:href="@{/serachExercise(exercise_name=${exerciseName},met_coefficient=${metCoefficient},currentPage = ${currentPage - 1 })}"
           			 aria-label="Previous">
          			<span aria-hidden="true">«</span>
          			</a>
        		</li>
        		<th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}">
      	  				<!-- 현재 페이지 -->
						<li class="active" th:if="${currentPage == num}">
							<span th:text="${num}"></span>
         				</li>
          				<!-- 다음 페이지 -->
          				<li>
          				<th:block th:unless="${num <= 0 }">
							<a th:unless="${currentPage == num}" th:href="@{/serachExercise(exercise_name=${exerciseName},met_coefficient=${metCoefficient},currentPage = ${num})}"
              				th:text="${ num }">
              				</a>
              			</th:block>
     					</li>
        		</th:block>
				<li>
          			<a th:if="${currentPage < lastPage}" th:href="@{/serachExercise(exercise_name=${exerciseName},met_coefficient=${metCoefficient},currentPage = ${currentPage + 1 })}"
            		aria-label="Next">
            			<span aria-hidden="true">»</span>
          			</a>
          			<a th:href="@{/serachExercise(exercise_name=${exerciseName},met_coefficient=${metCoefficient},currentPage = ${lastPage})}">맨마지막</a>
				</li>
     		 </ul>
   		 </nav>
	</div>
	</th:block>
</body>
</html>