@charset "UTF-8";

.backRight {
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	background: #3498db
		url(https://download.unsplash.com/photo-1429041966141-44d228a42775);
	background-size: cover;
	background-position: 50% 50%;
}

.right {
	width: 50%;
	height: 100%;
	background: #f9f9f9;
	right: 0;
	position: absolute;
}

.right .content h2{
	margin-top: 160px;
}

.right .off:hover {
	background: #eee;
	color: #03A9F4;
	box-shadow: none;
}

.content {
	width: 250px;
	margin: 0 auto;
	/* top: 30%; */
	position: absolute;
	left: 50%;
	margin-left: -125px;
	margin-top:100px;
	color: white;
}

.off {
	background: none;
	color: #03A9F4;
	box-shadow: none;
}