<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{/default_layout/manage/default}"
>
  <th:block layout:fragment="customContent">
    <h1>내 프로모션 관리(로그인 됫다고 가정)</h1>
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">프로모션 검색</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>프로모션 명</th>
                      <th>프로모션 모집일자</th>
                      <th>프로모션 마감일자</th>
                      <th>총모집인원</th>
                      <th>현재모집된 인원</th>
                      <th>프로모션 등록일자</th>
                      <th style="visibility:hidden;position:absolute;">프로모션 코드</th>
                      <th>수정</th>
                      <th>정산</th>
                      
                    </tr>
                  </thead>
                  <tbody id="tbodyChange">
                    <tr th:if="${#lists.size(myPromotionList)>0}" th:each="m : ${myPromotionList}">             
                      <td th:text="${m.trainerPromotionName}"> </td>
                      <td th:text="${m.trainerPromotionRecruitStartDate}"> </td>
                      <td th:text="${m.trainerPromotionRecruitEndDate}"> </td>
                      <td th:text="${m.trainerPromotionRecruitPeople}"> </td>
                      <td th:text="${m.trainerPromotionLiveAddPeople}"> </td>
                      <td th:text="${m.trainerMatchingSystemAddDate}"> </td>
                      <td class="noticeCode" th:text="${m.trainerPromotionNoticeCode}">
                      </td>
                      <td><a class="change" th:href="@{/trainer/promtion/myPromotionModify(trainerPromotionNoticeCode=${m.trainerPromotionNoticeCode})}">수정</a></td>
                      <td><a class="result" href="javascript:a();" >정산</a></td>
                      

                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    </div>
  
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-xl schedule-modal">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">정산하기 </h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="schedule-modal-add-btn">Add</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
  
      </div>
    </div>
    <script>
      $('.result').click(function(){
        var tr = $(this).parent().parent().find('td:eq(6)');
        var td = tr.children();
        var noticeCode = tr.text();

        console.log(noticeCode);

        var request =  $.ajax({
          type: "POST",
          url: "/settlementAmount",
          data: { "trainerPromotionNoticeCode": noticeCode},
          dataType: 'text',
          success: function (response) {
            console.log(response);
            var html = '';
            html += "정산금액 :<input type='text' id='trainerPromotionNoticeCode' value="+response+">"
            $('.modal-body').html(html);

            $("#myModal").modal();
          }
        });
      });
   </script>
  
  </th:block>


  
</html>
