<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourhealth.mapper.CommonUserMapper">
	<resultMap type="CommonUserDto" id="resultMapPrivateProfile">
		<result column="user_id" 			property="userId"/>
		<result column="user_level_code" 	property="userLevelCode"/>
		<result column="user_pw" 			property="userPw"/>
		<result column="user_name" 			property="userName"/>
		<result column="user_addr" 			property="userAddr"/>
		<result column="user_nickname" 		property="userNickname"/>
		<result column="user_phone" 		property="userPhone"/>
		<result column="user_email" 		property="userEmail"/>
		<result column="user_birth" 		property="userBirth"/>
		<result column="user_gender" 		property="userGender"/>
	</resultMap>
	
	<select id="getPrivateProfile" parameterType="String" resultMap="resultMapPrivateProfile">
		SELECT 
			user_id, 
			user_level_code, 
			user_pw, 
			user_name, 
			user_addr, 
			user_nickname, 
			user_phone, 
			user_email, 
			user_birth, 
			user_gender
		FROM 
			tb_common_user
		WHERE
			user_id = #{userId};
	</select>
	
	<update id="modifyPrivateProfile" parameterType="CommonUserDto">
		UPDATE 
			tb_common_user
		SET
			user_level_code=#{userLevelCode},
			user_pw=#{userPw},
			user_name=#{userName},
			user_addr=#{userAddr},
			user_nickname=#{userNickname},
			user_phone=#{userPhone},
			user_email=#{userEmail},
			user_birth=#{userBirth},
			user_gender=#{userGender}
		WHERE 
			user_id=#{userId};
	</update>
</mapper>