<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourhealth.mapper.ExerciseMapper">
	<resultMap type="MetExerciseDto" id="resultMapMetExercise">
		<result column="exercise_met_code" 		property="exerciseMetCode"/>
		<result column="exercise_name" 			property="exerciseName"/>
		<result column="met_coefficient" 		property="exerciseMetCoeffcient"/>
		<result column="exercise_reg_date" 		property="exerciseRegDate"/>
	</resultMap>

	<select id="getAllExerciseList2" resultMap="resultMapMetExercise">
		SELECT
			exercise_met_code,
			exercise_name,
			met_coefficient
		FROM
			tb_met_exercise	
	</select>
	
	<select id="getAllExerciseList" resultMap="resultMapMetExercise">
		SELECT
			e.exercise_name,
			e.met_coefficient
		FROM
			tb_met_exercise AS e
		ORDER BY
			 e.met_coefficient;
	</select>
	
	<select id="getAllSearchExerciseList" resultType="map" parameterType="String">
		SELECT
			e.exercise_name,
			e.met_coefficient
		FROM
			tb_met_exercise AS e
		WHERE
			e.exercise_name LIKE CONCAT('%',#{exercise_name},'%')
		
		<if test="met_coefficient !=null and exercise_name != null"></if>
		
		<if test="met_coefficient =='easy'.toString()">
			and
			e.met_coefficient BETWEEN 0.0 AND 3.0
		</if>
		
		<if test="met_coefficient =='normal'.toString()">
			and
			e.met_coefficient BETWEEN 3.0 AND 6.0
		</if>
		
		<if test="met_coefficient =='hard'.toString()">
			and
			e.met_coefficient >=6.0
		</if>
		
		<if test="met_coefficient =='all'.toString()">

		</if>
		ORDER BY
			e.met_coefficient
		LIMIT ${startRow},${rowPerPage};
	</select>

	<select id="getAllEasyExerciseList" resultMap="resultMapMetExercise">
	 	SELECT
			e.exercise_name,
			e.met_coefficient
		FROM
			tb_met_exercise AS e
		WHERE
			e.met_coefficient BETWEEN 0.0 AND 3.0
		Order by
			RAND() LIMIT 5;
	</select>
	<select id="getAllNormalExerciseList" resultMap="resultMapMetExercise">
	 	SELECT
			e.exercise_name,
			e.met_coefficient
		FROM
			tb_met_exercise AS e
		WHERE
			e.met_coefficient BETWEEN 3.0 AND 6.0
		Order by
			RAND() LIMIT 5;
	</select>
	<select id="getAllHardExerciseList" resultMap="resultMapMetExercise">
	 	SELECT
			e.exercise_name,
			e.met_coefficient
		FROM
			tb_met_exercise AS e
		WHERE
			e.met_coefficient >=6.0
		Order by
			RAND() LIMIT 5;
	</select>
	
 	<select id="getExerciseListCount" resultType="int" parameterType="String">
		/* 현재 프로모션 등록 수 페이징 처리 */
		SELECT
			count(*)
		FROM
			tb_met_exercise AS e
		where
			e.exercise_name LIKE CONCAT('%',#{exercise_name},'%')
		<if test="met_coefficient !=null and exercise_name != null"></if>
		
		<if test="met_coefficient =='easy'.toString()">
			and
			e.met_coefficient BETWEEN 0.0 AND 3.0
		</if>
		
		<if test="met_coefficient =='normal'.toString()">
			and
			e.met_coefficient BETWEEN 3.0 AND 6.0
		</if>
		
		<if test="met_coefficient =='hard'.toString()">
			and
			e.met_coefficient >=6.0
		</if>
		
		<if test="met_coefficient =='all'.toString()">

		</if>
</select>

	<!-- <select id="getExerciseListPaging" parameterType="int" resultType="map">
		/* 페이징 처리 */
		SELECT
			*
		FROM
			tb_met_exercise AS e
			LIMIT #{startRow}, #{rowPerPage};
	</select>  -->
</mapper>