<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- Food test table name : tb_food_test -->
  <!-- Food wokring table name : tb_food -->
<mapper namespace="com.fourhealth.mapper.FoodMapper">


  <!-- 관리자 FOOD -->
  <insert id="insertFoodListInformation" parameterType="java.util.List">
    INSERT IGNORE INTO tb_food_backup(
      food_code, 
      food_name, 
      food_group,
      food_gram,
      food_calorie,
      food_carbo,
      food_protein,
      food_fat,
      food_sodium,
      food_cholesterol,
      food_sugar,
      food_makerName,
      food_reg_date
      ) 
    VALUES
    <foreach collection="list" item="food" separator=" , " >
        ("${food.foodCode}", 
         "${food.foodName}", 
         "${food.foodGroup}",
         "${food.foodTotalGram}", 
         "${food.foodCal}",
         "${food.foodCarbo}",
         "${food.foodProtein}",
         "${food.foodFat}",
         "${food.foodSugar}",
         "${food.foodSodium}",
         "${food.foodChole}",
         "${food.makerName}",
         NOW()
      )   
    </foreach>
    
  </insert>

</mapper>