<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourhealth.mapper.MasterMapper">
	<resultMap type="UserReportDto" id="resultMapReport">
		<result column="report_user_code" property="reportUserCode"/>
		<result column="report_title" property="reportTitle"/>
		<result column="trainer_user_matching_code" property="trainerUserMatchingCode"/>
		<result column="user_id" property="userId"/>
		<result column="report_user_reason_detail" property="reportUserReasonDetail"/>
		<result column="report_user_reg_date" property="reportUserRegDate"/>
	</resultMap>
	<!--사용자 데이터 resultMap  -->
    <resultMap type="TrainerDto" 				id="resultMapTrainer">
        <result column="user_id" 						property="userId"/>
        <result column="trainer_platform_grade_code" 	property="trainerPlatformGradeCode"/>
        <result column="trainer_access_code"			property="trainerAccessCode"/>
        <result column="trainer_gym" 					property="trainerGym"/>
        <result column="trainer_gym_address" 			property="trainerGymAddress"/>
        <result column="trainer_access_reason"			property="trainerAccessReason"/>
        <result column="trainer_access_reg_date" 		property="trainerAccessRegDate"/>
        <result column="trainer_reg_date" 				property="trainerRegDate"/>
    </resultMap>
	<!-- 트레이너플랫폼등급 resultMap -->
	<resultMap type="GradePlatformTrainerDto" id="resultMapGradePlatformTrainer">
		<result column="trainer_platform_grade_code" property="trainerPlatformGradeCode" />
		<result column="trainer_platform_grade_name" property="trainerPlatformGradeName" />
		<result column="trainer_platform_grade_duty" property="trainerPlatformGradeDuty" />
		<result column="trainer_platform_grade_reg_date" property="trainerPlatformGradeRegDate" />
	</resultMap>
	<!-- 관리자 단에서 신고 목록 리스트 보여주기 -->
	<select id="reportList" resultMap="resultMapReport">
	SELECT report_user_code
		, report_title
		, user_id
		, report_user_reason_detail
		, report_user_reg_date
	FROM tb_user_report
	</select>
    
    <!-- 관리자가 트레이너 승인처리 -->
    <update id="masterTrainerAccess" parameterType="String" >
    	UPDATE 
    		tb_trainer
		SET
			trainer_access_reg_date=NOW(),
      trainer_access_code="trainer_access_001"
		WHERE
			user_id=#{userId};
    </update>
    <!-- 프로모션 수  -->
    <select id="allpromotionCount" resultType="int">
    	SELECT
			COUNT(*)
		FROM
			tb_notice_promotion_trainer;
    </select>
    
	<!--전체 회원 수 -->
	<select id="allMemberCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			tb_common_user;
	</select>
	
	<!--전체 트레이너 수  -->
	<select id="allTrainerCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			tb_trainer;
		
	
	</select>
	<!--전체 고객 수  -->
	<select id="alluserCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			tb_user;
	</select>
	<!-- 음식 db수 -->
	<select id="allFoodDBCount" resultType="int">
	SELECT
		COUNT(*)
	FROM
		tb_food
	</select>
	<!-- 운동db수 -->
	<select id="allExerciseDBCount" resultType="int">
	SELECT
		COUNT(*)
	FROM
		tb_met_exercise
	</select>
	<!-- 질병 db수 -->
	<select id="allDiseaseDBCount" resultType="int">
	SELECT
		COUNT(*)
	FROM
		tb_disease
	</select>
	
	<!-- 트레이너플랫폼 공통 등급리스트 보여주기  -->
	<select id="trainerPlatformGradeList" resultMap="resultMapGradePlatformTrainer">
	SELECT 
		trainer_platform_grade_code,
		trainer_platform_grade_name,
		trainer_platform_grade_duty,
		trainer_platform_grade_reg_date
	FROM tb_grade_platform_trainer
	</select>
	<!-- 관리자페이지 트레이너 플랫폼 공통 등급 수정 -->
	<update id="modifyTrainerGrade" parameterType="GradePlatformTrainerDto">
	UPDATE tb_grade_platform_trainer
	SET
		trainer_platform_grade_code=#{trainerPlatformGradeCode},
		trainer_platform_grade_name=#{trainerPlatformGradeName},
		trainer_platform_grade_duty=0,
		trainer_platform_grade_reg_date=NOW()
	WHERE trainer_platform_grade_code=#{trainerPlatformGradeCode}
	</update>
	<!-- 트레이너 공통 등급 수정 페이지 이동 -->
	<select id="getTrainerPlatformGradeCode" parameterType="String" resultMap="resultMapGradePlatformTrainer">
	SELECT 
		trainer_platform_grade_code,
 		trainer_platform_grade_name,
  		trainer_platform_grade_duty,
   		trainer_platform_grade_reg_date
	FROM tb_grade_platform_trainer
		WHERE
			trainer_platform_grade_code = #{trainerPlatformGradeCode};
	</select>
</mapper>