<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourhealth.mapper.MasterMapper">
	<!--사용자 데이터 resultMap  -->
    <resultMap type="TrainerDto" 				id="resultMapTrainer">
        <result column="user_id" 						property="userId"/>
        <result column="trainer_platform_grade_code" 	property="trainerPlatformGradeCode"/>
        <result column="trainer_access_code"			property="trainerAccessCode"/>
        <result column="trainer_gym" 					property="trainerGym"/>
        <result column="trainer_gym_address" 			property="trainerGymAddress"/>
        <result column="trainer_access_reason"			property="trainerAccessReason"/>
        <result column="trainer_access_reg_date" 		property="trainerAccessRegDate"/>
        <result column="trainer_reg_date" 				property="trainerRegDate"/>
    </resultMap>
    
    <update id="masterTrainerAccess" parameterType="String" >
    	UPDATE 
    		tb_trainer
		SET
			trainer_access_reg_date=NOW()
		WHERE
			user_id=#{userId};
    </update>

</mapper>