
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourhealth.mapper.MessageMapper">
	 <resultMap type="MsgDto" id="resultMapMsg">
        <result column="msg_code" property="msgCode"/>
        <result column="send_id" property="sendId"/>
        <result column="receive_id" property="receiveId"/>
        <result column="msg_contents" property="msgContents"/>
        <result column="msg_send_cancel" property="msgSendCancel"/>
        <result column="msg_read_date" property="msgReadDate"/>
        <result column="msg_send_date" property="msgSendDate"/>
      </resultMap>
			
	 <insert id="sendTrainerToUser" parameterType="MsgDto">
 	 	<selectKey keyProperty="msgCode" resultType="String" order="BEFORE">
        		SELECT
        	  	CASE
          		WHEN COUNT(1) = 0 THEN 'msg_001' 
         		ELSE CONCAT('msg_', LPAD(MAX(CAST(right(m.msg_code,3) AS DECIMAL)+1), 3, 0))
         		END AS msgCode
       	 	FROM
        	 tb_msg AS m;
      </selectKey>
      			INSERT INTO tb_msg
      			(
      				msg_code,
      				send_id,
      				receive_id,
      			  	msg_contents, 
      			  	msg_send_cancel,
      			  	msg_read_date, 
      			  	msg_send_date
      			 )
				VALUES (#{msgCode}, #{sendId}, #{receiveId}, #{msgContents},#{msgSendCancel,jdbcType=DATE}, #{msgReadDate,jdbcType=DATE}, NOW());
      </insert>  
      
      <select id="getAllSendMessageList" resultMap="resultMapMsg" parameterType="String">
      			SELECT
      				m.msg_code,
					m.receive_id,
					m.msg_contents,
					m.msg_send_cancel,
					m.msg_send_date,
					m.msg_read_date
				FROM
					tb_msg AS m
				WHERE 
					m.send_id = #{userId};
      </select>
      
      <update id="modifyAllcancelMsg" parameterType="String" >
      	UPDATE tb_msg
			SET msg_send_cancel ='1'
		WHERE
			msg_code = #{msgCode};
      </update>
      
      <select id="getAllReceiveMessageList" parameterType="String" resultMap="resultMapMsg">
      	SELECT
			m.msg_code,
			m.send_id,
			m.msg_contents,
			m.msg_read_date,
			m.msg_send_date
		FROM
			tb_msg AS m
		WHERE
			m.receive_id = #{userId}
		AND
			m.msg_send_cancel IS NULL;
      </select>
      
      <select id="getAllSendMessageInfo" parameterType="String" resultMap="resultMapMsg">
      	SELECT
      		m.msg_code,
      		m.send_id,
      		m.receive_id,
      		m.msg_contents,
      		m.msg_send_date
      	FROM
      		tb_msg AS m
      	WHERE
      		m.msg_code = #{msgCode};
      </select>
      
      <update id="getAllMessageReadPro" parameterType="String">
      	UPDATE tb_msg
			SET msg_read_date = NOW()
		WHERE
			msg_code = #{msgCode};
      </update>
      
      <select id="getAllNoReadMessage" parameterType="String" resultMap="resultMapMsg">
		SELECT
			msg_code,
			send_id,
			receive_id,
			msg_contents,
			msg_send_cancel,
			msg_read_date,
			msg_send_date
		FROM
			tb_msg
		WHERE
			msg_read_date IS NULL
		AND
			msg_send_cancel IS NULL
		AND
			receive_id = #{userId}
		ORDER BY
			msg_send_date desc;
      </select>
</mapper>