<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourhealth.mapper.ProfileMapper">
	<resultMap type="CommonProfileDto" id="resultMapProfile">
		<result column="profile_common_code" 		property="profileCommonCode"/>
		<result column="profile_common_image_code"  property="profileCommonImageCode"/>
		<result column="user_id" 					property="userId"/>
		<result column="user_level_code"			property="userLevelCode"/>
		<result column="profile_common_introduce" 	property="profileCommonIntroduce"/>
		<result column="user_level_name" 			property="userLevelName"/>
		<result column="profile_reg_date" 			property="profileRegDate"/>
	</resultMap>
	
	<select id="getTrainerProfile" resultMap="resultMapProfile">
		SELECT 
			  profile_common_code
			, profile_common_image_code
			, user_id
			, user_level_code
			, profile_common_introduce
			, user_level_name
			, profile_reg_date
	FROM tb_common_profile
	</select>
</mapper>