<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourhealth.mapper.PromotionMapper">

<select id="getTrainerMyPromotionAllList" parameterType="String" resultType="NoticePromotionTrainerDto">
 <!-- 로그인된 트레이너가 자신의 올린 모든  프로모션 리스트 -->
	 SELECT
	 	pt.trainer_promotion_notice_code AS 'trainerPromotionNoticeCode',
   		pt.trainer_promotion_name AS 'trainerPromotionName',
  	 	pt.trainer_promotion_recruit_start_date AS 'trainerPromotionRecruitStartDate',
  		pt.trainer_promtion_recruit_end_date AS 'trainerPromotionRecruitEndDate',
  		pt.trainer_promotion_recruit_people AS 'trainerPromotionRecruitPeople'
   
		FROM
	 		tb_matching_user_trainer AS mt
		INNER JOIN
  			tb_notice_promotion_trainer AS pt
		ON
   			mt.trainer_promotion_notice_code = pt.trainer_promotion_notice_code
		WHERE
  			mt.trainer_id = #{trainerId}; 
</select>


</mapper>