<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourhealth.mapper.MemberMapper">
	<insert id="addSns" parameterType="Sns">
		INSERT INTO tb_sns_user
			(user_sns_code, user_id, user_sns_contents, user_sns_upload_file, user_sns_reg_date)
		VALUES (
			  #{userSnsCode}
			, #{userId}
			, #{userSnsContents}
			, #{userSnsUpload}
			, NOW());
	</insert>
	<select id="getSnsList" resultType="Sns">
		SELECT 
			  user_sns_code 		AS userSnsCode
			, user_id 				AS userId
			, user_sns_contents 	AS userSnsContents
			, user_sns_upload_file  AS userSnsUpload
			, user_sns_reg_date 	AS userRegDate
		FROM 
			tb_sns_user;
	</select>	
</mapper>