<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourhealth.mapper.UserMapper">
	<!--사용자 데이터 resultMap  -->
    <resultMap type="UserDto" 		id="resultMapUser">
        <result column="user_id" 					property="userId"/>
        <result column="user_platform_grade_code" 	property="userPlatFormGradeCode"/>
        <result column="user_status_level_code"		property="userStatusLevelCode"/>
        <result column="user_first_height" 			property="userFirstHeight"/>
        <result column="user_first_weight" 			property="userFirstWeight"/>
        <result column="user_first_goal"			property="userFirstGoal"/>
        <result column="user_first_bmi" 			property="userFirstBmi"/>
        <result column="user_reg_date" 				property="userRegDate"/>
    </resultMap>
     <resultMap type="GradePlatformUserDto" 	id="resultMapGradePlatformUser">
        <result column="user_platform_grade_code" 		property="userPlatformGradeCode"/>
        <result column="user_platform_grade_name" 		property="userPlatformGradeName"/>
        <result column="user_platform_grade_reg_date"	property="userPlatformGradeRegDate"/>
    </resultMap>
    
    
	<!-- 로그인 후 메인화면 단에서 사용자 플랫폼 레벨 체크  -->
	<select id="getUserGrade"  parameterType="String" resultMap="resultMapGradePlatformUser"> 
		SELECT 
			p.user_platform_grade_name 
		FROM 
			tb_grade_platform_user AS p
		INNER JOIN
			tb_user AS u
		ON
			p.user_platform_grade_code = u.user_platform_grade_code  
		WHERE 
			u.user_id = #{memberId};
	</select>


</mapper>
