<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="@{/default_layout/manage/default}">
<th:block layout:fragment="customContent">
    <!--관리자 식품 관리 리스트 테이블-->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">관리자 질병 정보 현황</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="disease_wrapper" class="dataTables_wrapper dt-bootstrap4">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="foodTable"
                                            class="table table-bordered table-striped dataTable dtr-inline" role="grid"
                                            aria-describedby="example1_info" style="font-size: small;">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1" aria-sort="ascending"
                                                        aria-label="Rendering engine: activate to sort column descending">
                                                        식품코드</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Browser: activate to sort column ascending">식품이름
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending">
                                                        총량(1인분)
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Engine version: activate to sort column ascending">
                                                        칼로리</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">탄수화물
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1">단백질
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1">지방
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">나트륨
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">당
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">콜레스테롤
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1">제조사
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1">수정
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1">삭제
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:if="${#lists.size(foodList)}>0" th:each="food : ${foodList}"
                                                    role="row" class="odd">
                                                    <td th:text="${food.foodCode}"></td>
                                                    <td th:text="${food.foodName}"></td>
                                                    <td th:text="${food.foodTotalGram}"></td>
                                                    <td th:text="${food.foodCal}"></td>
                                                    <td th:text="${food.foodProtein}"></td>
                                                    <td th:text="${food.foodFat}"></td>
                                                    <td th:text="${food.foodSodium}"></td>
                                                    <td th:text="${food.foodSugar}"></td>
                                                    <td th:text="${food.foodChole}"></td>
                                                    <td th:text="${food.foodTotalGram}"></td>
                                                    <td th:text="${food.foodMakerName}"></td>
                                                    <td>
                                                        <!-- <a href="#" data-toggle="modal" data-target="#foodDetails">수정</a> -->
                                                        <a href="#" class="foodUpdate">수정</a>
                                                        <!-- <button type="button" class="foodUpdateBtn">
                                            수정
                                        </button> -->
                                                    </td>
                                                    <td>
                                                        <!-- <a href="#" data-toggle="modal" data-target="#foodDelete">삭제</a> -->
                                                        <a href="#" class="foodDelete" data-toggle="modal"
                                                            data-target="#foodDelete">삭제</a>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of
                          57 entries</div>
                      </div> -->
                                    <div class="col-sm-12 col-md-12">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">

                                            <ul class="pagination">
                                                <li class="paginate_button page-item" id="example1_next">
                                                    <a th:href="@{/master/foodManage/foodDataList}"
                                                        aria-controls="example1" data-dt-idx="7" tabindex="0"
                                                        class="page-link">처음으로</a>
                                                </li>

                                                <li class="paginate_button page-item previous" id="example1_previous"><a
                                                        th:if="${currentPage > 1}"
                                                        th:href="@{/master/foodManage/foodDataList(currentPage = ${currentPage - 1 })}"
                                                        aria-controls="example1" data-dt-idx="0" tabindex="0"
                                                        class="page-link">Previous</a></li>
                                                <th:block
                                                    th:each="number : ${#numbers.sequence(startPageNum,endPageNum)}">
                                                    <li class="paginate_button page-item">
                                                        <a th:unless="${currentPage ==number}"
                                                            th:href="@{/master/foodManage/foodDataList(currentPage = ${number})}"
                                                            aria-controls="example1" class="page-link"
                                                            th:text="${number}"></a>
                                                        <span class="page-link page-item active"
                                                            th:if="${currentPage == number}" th:text="${number}"></span>

                                                    </li>

                                                </th:block>

                                                <li class="paginate_button page-item next" id="example1_next">
                                                    <a th:if="${currentPage < lastPage}"
                                                        th:href="@{/master/foodManage/foodDataList(currentPage = ${currentPage + 1 })}"
                                                        aria-controls="example1" data-dt-idx="7" tabindex="0"
                                                        class="page-link">Next</a>
                                                </li>
                                                <li class="paginate_button page-item" id="example1_next">
                                                    <a th:href="@{/master/foodManage/foodDataList(currentPage = ${lastPage})}"
                                                        aria-controls="example1" data-dt-idx="7" tabindex="0"
                                                        class="page-link">마지막으로</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>

</th:block>

</html>

<script>
    //Food Modal Details js
    var foodUpdate = $(".foodUpdate");
    var foodDetails = $("#foodDetails");
    var foodUpdateBtn = $(".foodUpdateBtn");


    foodUpdate.click(function () {
        console.log("test");
        // foodDetails.modal('show');
        $("#foodDetails").modal();
        $("#closeUpdateFoodBtn").click(function () {
            $("#foodDetails").modal("hide");
        })

    })

    foodUpdateBtn.click(function () {
        console.log("test");
        // foodDetails.modal('show');
        $("#foodDetails").modal();
        $("#closeUpdateFoodBtn").click(function () {
            $("#foodDetails").modal("hide");
        })
    });

</script>
<script>
    $(function () {
        $("#foodTable").DataTable({
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
            "paging": false,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>