<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{/default_layout/manage/default}">
<th:block layout:fragment="customContent">
  <!--관리자 식품 관리 리스트 테이블-->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="card col-12">
          <div class="card-header">
            <h1 class="card-title">관리자 식품 정보 현황</h1>
          </div>
          <style>
            .card-title {
              font-size: 30px;
              font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
          </style>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <!-- <div class="dataTables_length" id="example1_length">
                                <label>
                                    Shows
                                    <select name="example1_length" aria-controls="example1"
                                        class="cusotm-select custom-select-sm form-control form-control-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    entries
                                </label>
                            </div> -->
              <thead>
                <tr>
                  <th>식품코드</th>
                  <th>식품이름</th>
                  <th>총량(1인분)</th>
                  <th>칼로리</th>
                  <th>탄수화물</th>
                  <th>단백질</th>
                  <th>지방</th>
                  <th>나트륨</th>
                  <th>당</th>
                  <th>콜레스테롤</th>
                  <th>식품제조사</th>
                  <th>수정</th>
                  <th>삭제</th>
                </tr>
              </thead>
              <tbody>
                <tr th:if="${#lists.size(foodList)}>0" th:each="food : ${foodList}">
                  <td th:text="${food.get('foodCode')}"></td>
                  <td th:text="${food.get('foodName')}"></td>
                  <td th:text="${food.get('foodTotalGram')}"></td>
                  <td th:text="${food.get('foodCal')}"></td>
                  <td th:text="${food.get('foodProtein')}"></td>
                  <td th:text="${food.get('foodFat')}"></td>
                  <td th:text="${food.get('foodSodium')}"></td>
                  <td th:text="${food.get('foodSugar')}"></td>
                  <td th:text="${food.get('foodChole')}"></td>
                  <td th:text="${food.get('foodTotalGram')}"></td>
                  <td th:text="${food.get('foodMakerNamer')}"></td>
                  <td>
                    <!-- <a href="#" data-toggle="modal" data-target="#foodDetails">수정</a> -->
                    <a href="#" class="foodUpdate">수정</a>
                    <!-- <button type="button" class="foodUpdateBtn">
                                            수정
                                        </button> -->
                  </td>
                  <td>
                    <!-- <a href="#" data-toggle="modal" data-target="#foodDelete">삭제</a> -->
                    <a href="#" class="foodDelete" data-toggle="modal" data-target="#foodDelete">삭제</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="foodtableFooter">
              <tr>
                <td colspan="10">
                  <button th:href="@{/manage_layout/master/foodDataList}" class="btn-xs btn-primary">처음으로</button>

                  <a th:if="${currentPage > 1}"
                    th:href="@{/manage_layout/master/foodDataList(currentPage = ${currentPage - 1 })}">
                    <i class="fas fa-arrow-left"></i></a>
                  <th:block th:each="number : ${#numbers.sequence(startPageNum,endPageNum)}">
                    <a th:unless="${currentPage ==number}"
                      th:href="@{/manage_layout/master/foodDataList(currentPage = ${number})}"
                      th:text="${'['+number+']'}"></a>
                    <span th:if="${currentPage == number}" th:text="${'[' + number + ']'}"></span>
                  </th:block>
                  <a th:if="${currentPage < lastPage}"
                    th:href="@{/manage_layout/master/foodDataList(currentPage = ${currentPage - 1 })}"><i
                      class="fas fa-arrow-right"></i></a>
                  <button class="btn-xs btn-primary"
                    th:href="@{/manage_layout/master/foodDataList(currentPage = ${lastPage})}">마지막</button>
                </td>
              </tr>
            </div>
            <style>
              .foodtableFooter {
                margin-top: 20px;
                margin-left: 30%;
              }
            </style>

            <!-- Food Details Modal Page -->
            <!-- Modal -->
            <div class="modal fade" id="foodDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="table">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">식품 정보 수정</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>식품코드</th>
                          <th>식품이름</th>
                          <th>총량(1인분)</th>
                          <th>칼로리</th>
                          <th>탄수화물</th>
                          <th>단백질</th>
                          <th>지방</th>
                          <th>나트륨</th>
                          <th>당</th>
                          <th>콜레스테롤</th>
                          <th>식품제조사</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="closeUpdateFoodBtn">닫기</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>

  </div>

</th:block>

</html>

<script>
  //Food Modal Details js
  var foodUpdate = $(".foodUpdate");
  var foodDetails = $("#foodDetails");
  var foodUpdateBtn = $(".foodUpdateBtn");


  foodUpdate.click(function () {
    console.log("test");
    // foodDetails.modal('show');
    $("#foodDetails").modal();
    $("#closeUpdateFoodBtn").click(function () {
      $("#foodDetails").modal("hide");
    })

  })

  foodUpdateBtn.click(function () {
    console.log("test");
    // foodDetails.modal('show');
    $("#foodDetails").modal();
    $("#closeUpdateFoodBtn").click(function () {
      $("#foodDetails").modal("hide");
    })
  });

</script>
<script>
  $(function () {
    console.log('test');
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>