#promotionListImg {
  width: 200px;
  height: 200px;
}
.center-block {
  text-align: center;
}

.promotionList {
  margin-top: 20px;
}

#promotionListImg {
  display: block;
  padding-top: 5px;
  margin: 0px auto;
}

.row {
  text-align: center;
}
