<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/trainer/head :: headFragment"></head>
<body class="sidebar-mini layout-fixed">
	<div id="wrapper">
		<div th:replace="fragments/trainer/nav :: navFragment"></div>
		<div th:replace="fragments/trainer/left :: leftMenuFragment"></div>
		<div class="content-wrapper">
			<section class="content">

				<div class="m-0" th:block layout:fragment="customContent"></div>

			</section>
		</div>
	</div>
	<div th:replace="fragments/trainer/footer :: footerFragment"></div>
	<div th:replace="fragments/trainer/js :: jsFragment"></div>
</body>
</html>
