<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/login/default}" lang="en">

<th:block layout:fragment="mainContent">
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div>
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form th:action="@{/login}" method="post" id="memberlogin" class="memberlogin">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="userId" name="userId"
                      placeholder="userId" />
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="userPassword" name="userPassword"
                      placeholder="userPassword" />
                  </div>
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="rememberId" /> &nbsp;
                        아이디저장
                      </label>
                      &nbsp;
                      <label>
                        <input type="checkbox" name="useCookie" /> &nbsp;
                        자동로그인
                      </label>
                    </div>
                  </div>
                  <button type="button" id="login" class="btn btn-primary btn-user btn-block"> Login
                  </button>
                  <hr />
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> #Login with Google
                  </a>
                  <!-- ############ -->


                  <!-- login btn -->
                  <!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with"
data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="true"></div> -->

                  <!-- facebook -->
                  <!-- <div id="fb-root"></div> -->

                  <!-- ################# -->


                  <!-- th:href="@{/facebookLogin}" -->
                  <!-- 페이스북 아이디를 연동해서 로그인 -->
                  <a href="#" class="btn btn-facebook btn-user btn-block" id="facebookloginBtn">
                    <i class="fab fa-facebook-f fa-fw"></i>Login with Facebook
                    <!-- <div id="access_token"></div>
                    <div id="user_id"></div>
                    <div id="name"></div>
                    <div id="email"></div>
                    <div id="gender"></div>
                    <div id="birthday"></div>
                    <div id="id"></div> -->
                  </a>

                </form>
                <hr />
                <div class="text-center">
                  <a class="small" th:href="@{/pwFind}">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" th:href="@{/levelSelect}">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


</html>
<script>
  //페이스북 연동하여 로그인
  function getUserData() {
    FB.api('/me', { fields: 'name,email' }, function (response) {

      var facebookname = response.name;    //페이스북 아이디를 변수에 저장함
      var facebooke_mail = response.email;

      //해당 주소로 이동
      window.location.replace("http://" + window.location.hostname + ((location.port == "" ||
        location.port == undefined) ? "" : ":" + location.port) + "/hansub_project/home?facebookname=" +
        encodeURI(facebookname) + "&facebooke_mail=" + facebooke_mail);

    });
  }

  // JavaScript용 Facebook SDK 설정
  window.fbAsyncInit = function () {
    FB.init({
      appId: '422064919022249',
      cookie: true,
      xfbml: true,
      version: 'v9.0'
    });
    FB.AppEvents.logPageView();
    console.log(FB.AppEvents.logPageView());

  };

  // (function (d, s, id) {
  //   var js, fjs = d.getElementsByTagName(s)[0];
  //   if (d.getElementById(id)) { return; }
  //   js = d.createElement(s); js.id = id;
  //   js.src = "https://connect.facebook.net/en_US/sdk.js";
  //   fjs.parentNode.insertBefore(js, fjs);



  //유저의 로그인 상태를 판단하는 함수, 로그인이 되어있다면 해당 유저의 데이터를 가져온다.
  // FB.getLoginStatus(function (response) {
  //   statusChangeCallback(response);
  //   sysout.write(response);
  // });

  //   FB.getLoginStatus(function(response) {
  //         if (response.status === 'connected') {        //만약 정상적으로 실행되었다면 유저의 데이터를 가져온다.(둘중하나)
  //             //\\user is authorized
  //             //document.getElementById('loginBtn').style.display = 'none';
  //             getUserData(); 



  //         } else {
  //             //user is not authorized
  //         }
  //     });
  // };



  // document.getElementById('facebookloginBtn').addEventListener('click', function (response) {
  //   (function (d, s, id) {
  //     var js, fjs = d.getElementsByTagName(s)[0];
  //     if (d.getElementById(id)) return;
  //     js = d.createElement(s); js.id = id;
  //     js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.9&appId=422064919022249";
  //     fjs.parentNode.insertBefore(js, fjs);
  //   }(document, 'script', 'facebook-jssdk'));
  //   console.log(response)
  //   console.log('test');

  // });

  function checkLoginState() {
    FB.getLoginStatus(function (response) {
      statusChangeCallback(response);
    });
  }
</script>