<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/login/default}"
  lang="en"
>

<th:block layout:fragment="mainContent">
    <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div>
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                    </div>
                    <form
                      th:action="@{/login}"
                      method="post"
                      id="memberlogin"
                      class="memberlogin"
                    >
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control form-control-user"
                          id="userId"
                          name="userId"
                          placeholder="userId"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="password"
                          class="form-control form-control-user"
                          id="userPassword"
                          name="userPassword"
                          placeholder="userPassword"
                        />
                      </div>
                      <div class="form-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="rememberId" /> &nbsp;
                            아이디저장
                          </label>
                          &nbsp;
                          <label>
                            <input type="checkbox" name="useCookie" /> &nbsp;
                            자동로그인
                          </label>
                        </div>
                      </div>
                      <button
                        type="button"
                        id="login"
                        class="btn btn-primary btn-user btn-block"
                      >
                        Login
                        <!-- a href="index.html"  -->
                      </button>
                      <hr />
                      <a
                        href="index.html"
                        class="btn btn-google btn-user btn-block"
                      >
                        <i class="fab fa-google fa-fw"></i> #Login with Google
                      </a>
                      <a
                        href="index.html"
                        class="btn btn-facebook btn-user btn-block"
                      >
                        <i class="fab fa-facebook-f fa-fw" th:href="@{/facebookLogin}"></i> !Login with
                        Facebook
                      </a>
                    </form>
                    <hr />
                    <div class="text-center">
                      <a class="small" th:href="@{/pwFind}"
                        >Forgot Password?</a
                      >
                    </div>
                    <div class="text-center">
                      <a class="small" th:href="@{/levelSelect}"
                        >Create an Account!</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</html>