div#signup.col-lg-6 {
  margin-top: 10rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 3rem 1rem;
  justify-content: center;
}
#sign_form_input {
  margin-top: 12px;
}
#sign_up_lay {
  width: 85%;
  margin: 0 auto;
}

#sign_up {
  margin: 0 auto;
}
.sgin_up_form {
  margin-top: 20px;
}

.select-box {
  border: 1px solid #ced4da;
  padding: 8px;
  background-color: #fff;
  width: 40%;
  text-align: center;
  background-color: bisque;
  border: none;
}

.select-box a {
  color: #868e96 !important;
}

* {
  box-sizing: border-box;
}

.select-box.mt-5 {
  background: green;
  text-align: center;
  color: #fff;
}

.mt-5 {
  margin-top: 3rem !important;
}

input#userId.form-control.form-control-user {
  margin-top: 12px;
  /* width: 100%; */
}

button#userIdCheck.btn.btn-primary {
  /* margin: 7px */
  height: 38px;
  white-space: nowrap;
  margin-top: 12px;
}
