div#signup.col-lg-6 {
  margin-top: 10rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 3rem 1rem;
  justify-content: center;
}
#sign_form_input {
  margin-top: 12px;
}
#sign_up_lay {
  width: 85%;
  margin: 0 auto;
}

#sign_up {
  margin: 0 auto;
}
.sgin_up_form {
  margin-top: 20px;
}
