<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{/default_layout/manage/default}">
<title th:text="${title}"></title>
  <th:block layout:fragment="customContent">
    <body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6" style="margin-left: -100px;">
            <h1>Private Profile Edit</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3" style="margin-left: -100px;">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle" alt="User profile picture" th:src="'/static/'+${profile.profileCommonImageCode}">
                </div>

                <h3 class="profile-username text-center" th:text=${profile.userId}></h3>

                <p class="text-muted text-center" th:text="${commonUserDto.userLevelCode}"></p>

                <ul class="list-group list-group-unbordered mb-5">
                  <li class="list-group-item" th:text="${profile.profileCommonIntroduce}" style="text-align: center; text-overflow:ellipsis; max-height: 150px; "></li>
                </ul>
              </div>	
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <!-- /.card-header -->
              <div class="card-body">
                <strong> Name</strong>

                <p class="text-muted" th:text="${commonUserDto.userName}"></p>

                <hr>

                <strong> Phone Number</strong>

                <p class="text-muted" th:text="${commonUserDto.userPhone}"></p>

                <hr>

                <strong> E-mail</strong>

                <p class="text-muted" th:text="${commonUserDto.userEmail}"></p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">
                    	<form th:action="@{/trainer/profile/trainerProfileModify}" method="post">
                    		<input type="text" class="form-control" name="userId" id="userId" th:value=${profile.userId} readonly="readonly"> <br/>
                    		<input type="text" class="form-control" name="userLevelCode" id="userLevelCode" th:value="${commonUserDto.userLevelCode}" readonly="readonly"> <br/>
                    		<input type="password" class="form-control" name="userPw" id="userPw" th:value=${commonUserDto.userPw} placeholder="비밀번호를 입력하세요."> <br/>
                    		<input type="text" class="form-control" name="userName" id="userName" th:value="${commonUserDto.userName}" placeholder="이름을 입력하세요."> <br/>
                    		<input type="text" class="form-control" name="userAddr" id="userAddr" th:value="${commonUserDto.userAddr}" placeholder="주소를 입력하세요"> <br/>
                    		<input type="text" class="form-control" name="userNickname" id="userNickname" th:value="${commonUserDto.userNickname}" placeholder="닉네임을 입력하세요."> <br/>
                    		<input type="tel" class="form-control" name="userPhone" id="userPhone" th:value="${commonUserDto.userPhone}" placeholder="ex)010-0000-0000"> <br/>
                    		<input type="email" class="form-control" name="userEmail" id="userEmail" th:value="${commonUserDto.userEmail}" placeholder="ex)0000@gmail.com"> <br/>
                    		<input type="date" class="form-control" name="userBirth" id="userBirth" th:value="${commonUserDto.userBirth}"> <br/>
							<div class="custom-control" style="text-align: center;">
								<select name="userGender" >
									<option value="::성별::">성별을 선택해주세요.</option>
									<option value="male">m</option>
									<option value="female">f</option>
									<option value="nat">n</option>
								</select>
							</div> <br/>
							<div class="offset-sm-2 col-sm-10">
                          		<button type="submit" class="btn btn-danger">Submit</button>
                        	</div>
                    	</form>
                    </div>
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputName" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputName2" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
</body>
  </th:block>
</html>
