<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{/default_layout/manage/default}">
<th:block layout:fragment="customContent">
  <h1>내 프로모션에 등록된 회원 스케줄 등록(id002로그인가정)</h1>
  <div class="row">
    <div class="form-group col-md-4" id="first_schedule">
      <label>진행중인 내프로모션 선택</label>
      <select class="form-control" id="promotion_select">
        <option>Select</option>
        <th:block th:each="mp : ${myPromotionList}">
          <option th:text="${mp.trainerPromotionName}" th:value="${mp.trainerPromotionNoticeCode}"></option>
        </th:block>
      </select>
      <label>회원선택</label>
      <select multiple="" class="custom-select" id="matching_user">
      </select>
    </div>
    <!-- <div class="form-group col-md-4">
      <label>회원선택</label>
      <select multiple="" class="custom-select" id="matching_user">
      </select> 
    </div> -->
    <div class="col-md-5" id="test">
      <div class="card bg-primary">
        <div class="card-header">
          <h3 class="card-title">회원정보</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
          <!-- /.card-tools -->
          <style>
          #test{
          	margin-top: 10px;
          	margin-right: 80px;
          }
          #first_schedule{
          	margin: 0 auto;
          }
          </style>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <p>아이디 :<span id="select_user_id"></span></p>
          <p>몸무게 :<span id="select_user_weight"></span></p>
          <p>키 :<span id="select_user_hieght"></span></p>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="sticky-top mb-3">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Draggable Events</h4>
              </div>
              <div class="card-body">
                <!-- the events -->
                <div id="external-events">
                  <div class="external-event bg-success ui-draggable ui-draggable-handle" style="position: relative;">
                    Lunch</div>
                  <div class="external-event bg-warning ui-draggable ui-draggable-handle" style="position: relative;">Go
                    home</div>
                  <div class="external-event bg-info ui-draggable ui-draggable-handle" style="position: relative;">Do
                    homework</div>
                  <div class="external-event bg-primary ui-draggable ui-draggable-handle" style="position: relative;">
                    Work on UI design</div>
                  <div class="external-event bg-danger ui-draggable ui-draggable-handle" style="position: relative;">
                    Sleep tight</div>
                  <div class="checkbox">
                    <label for="drop-remove">
                      <input type="checkbox" id="drop-remove">
                      remove after drop
                    </label>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Create Event</h3>
              </div>
              <div class="card-body">
                <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                  <ul class="fc-color-picker" id="color-chooser">
                    <li><a class="text-primary" href="#"><i class="fas fa-square"></i></a></li>
                    <li><a class="text-warning" href="#"><i class="fas fa-square"></i></a></li>
                    <li><a class="text-success" href="#"><i class="fas fa-square"></i></a></li>
                    <li><a class="text-danger" href="#"><i class="fas fa-square"></i></a></li>
                    <li><a class="text-muted" href="#"><i class="fas fa-square"></i></a></li>
                  </ul>
                </div>
                <!-- /btn-group -->
                <div class="input-group">
                  <input id="new-event" type="text" class="form-control" placeholder="Event Title">

                  <div class="input-group-append">
                    <button id="add-new-event" type="button" class="btn btn-primary">Add</button>
                  </div>
                  <!-- /btn-group -->
                </div>
                <!-- /input-group -->
              </div>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card card-primary">
            <div class="card-body p-0">
              <!-- THE CALENDAR -->
              <div id="calendar" class="fc fc-media-screen fc-direction-ltr fc-theme-bootstrap">
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
  </section>

  <!-- 트레이너 스케쥴 모달 페이지 -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-xl schedule-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add schedule </h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <h3>활동 및 운동찾기</h3>
          <select id="serach_how" class="">
            <option value="easy">가벼움</option>
            <option value="normal">보통</option>
            <option value="hard">격렬함</option>
            <option value="all">전체</option>
          </select>

          <input type="text" id="exercise_name">
          <button type="button" id="exercise">검색하기</button>
          <table border="1">
            <!-- <tr>
              <td>운동명</td>
              <td>met계수</td>
              <td>선택된 회원 시간당 칼로리</td>
            </tr> -->
            <tbody id="data">


            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="schedule-modal-add-btn">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</th:block>

</html>