<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{/default_layout/manage/default}">
<th:block layout:fragment="customContent">

  <h1>내 프로모션에 등록된 회원 스케줄 등록</h1>
  <div class="row">
    <div class="form-group col-md-4" id="first_schedule">
      <label>진행중인 내프로모션 선택</label>
      <select class="form-control" id="promotion_select">
        <option>Select</option>
        <th:block th:each="mp : ${myPromotionList}">
          <option th:text="${mp.trainerPromotionName}" th:value="${mp.trainerPromotionNoticeCode}"></option>
        </th:block>
      </select>
      <label>회원선택</label>
      <select multiple="" class="custom-select" id="matching_user">
      </select>

      <!--  -->


    </div>
    <div class="col-md-5" id="test">
      <div class="card bg-primary">
        <div class="card-header">
          <h3 class="card-title">회원정보</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
          <!-- /.card-tools -->
          <style>
            #test {
              margin-top: 10px;
              margin-right: 80px;
            }

            #first_schedule {
              margin: 0 auto;
            }
          </style>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <p>아이디 :<span id="select_user_id"></span></p>
          <p>몸무게 :<span id="select_user_weight"></span></p>
          <p>키 :<span id="select_user_hieght"></span></p>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-body p-0">
              <!-- THE CALENDAR -->
              <div id="calendar" class="fc fc-media-screen fc-direction-ltr fc-theme-bootstrap">
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
    </div><!-- /.container-fluid -->
  </section>



  <!-- 트레이너 스케쥴 모달 페이지 -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-xl schedule-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add schedule </h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <h3>활동 및 운동찾기</h3>
          <div class="input-group">
            <select id="serach_how" class="">
              <option value="easy">가벼움</option>
              <option value="normal">보통</option>
              <option value="hard">격렬함</option>
              <option value="all">전체</option>
            </select>
            <input type="text" id="exercise_name" class="form-control col-md-4">
            <button type="button" id="exercise_serach" class="btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <table class="table-bordered mt-2 col-md-5">
            <tbody id="exercise_info">
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="schedule-modal-add-btn">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- 카드(스케줄 넣어준거) 클릭시 뜨게함 -->

  <div class="modal fade" id="myCardModal" role="dialog">
    <div class="modal-dialog modal-xl schedule-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add schedule </h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <h3>넣어준거</h3>

          <table class="table-bordered mt-2 col-md-5">
            <tbody id="exercise_info">
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="schedule-modal-add-btn">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</th:block>

</html>
<!-- <script>
  $(function () {
    $("#calendar").fullCalendar({

    })
  })
</script> -->