<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{/default_layout/manage/default}"
>
  <th:block layout:fragment="customContent">
      <h1>트레이너 비승인 리스트 화면</h1>
      
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">승인대기중인 트레이너</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>번호</th>
                      <th>아이디</th>
                      <th>트레이너 소속 GYM</th>
                      <th>트레이너 소속 GYM주소</th>
                      <th>가입신청일자</th>
                      <th>자격증확인</th>
                      <th>승인처리</th>
                    </tr>
                  </thead>
                  <tbody>
                   		<tr th:if="${#lists.size(trainerList) > 0}" th:each="l,index : ${trainerList}">
                   			<td th:text="${index.count}"></td>
                   			<td th:text="${l.userId}"></td>
                    		<td th:text="${l.trainerGym}"></td>
	                    	<td th:text="${l.trainerGymAddress}"></td>
                    		<td th:text="${l.trainerRegDate}"></td>
	                    	<td>
	                    		<a href="#" class="trainer_certi_info btn btn-info" >정보보기</a>
	                    	</td>
	                     	<td>
	                     		<a th:href ="@{/mastertrainerAccessPro(userId=${l.userId})}" class="btn btn-success">승인처리</a>
	                     	</td>
                    	</tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        
        <!-- 트레이너 자격증 정보 확인 하기위한 모달  -->
  <div class="modal fade" id="trainer_certi" role="dialog">
    <div class="modal-dialog modal-xl schedule-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">자격정보</h4>
        </div>
        <div class="modal-body">
          
          <table class="table-bordered mt-2 col-md-5">
            <tbody id="exercise_info">
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div> 
      </div>
  </div>       
  </th:block>
</html>
