<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{/default_layout/manage/default}"
>
  <th:block layout:fragment="customContent">
    <div>
      <h1>사용자 회원 목록</h1>

      <table border="1">
				<thead>
					<tr>
						<th>아이디</th>
						<th>비밀번호</th>
						<th>이름</th>
						<th>권한</th>
						<th>이메일</th>
						<th>주소</th>
						<th>등록날짜</th>
						<th>수정</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody>
				<tr th:if="${#lists.size(userList) > 0}" th:each="l : ${userList}">
					<td th:text="${l.memberId}"></td>
					<td th:text="${l.memberPw}"></td>
					<td th:text="${l.memberName}"></td>
					<td th:text="${l.memberLevel}"></td>
					<td th:text="${l.memberEmail}"></td>
					<td th:text="${l.memberAddr}"></td>
					<td th:text="${l.memberRegDate}"></td>
					<td>
						<a th:href="@{/modifyMasterAll(memberId=${l.memberId})}">수정</a>
					</td>
					<td>
						<a th:href="@{/removeMasterMember(memberId=${l.memberId}, memberLevel=${l.memberLevel})}">삭제</a>
					</td>
				</tr>
			</tbody>
		</table>
    </div>
  </th:block>
</html>
