<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{/default_layout/manage/default}"
>
  <th:block layout:fragment="customContent">
      <h1>사용자 로그인 리스트 화면</h1>
       <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">사용자 로그인 목록</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                   		<th>번호</th>
                   		<th>아이디</th>
                      	<th>이름</th>
						<th>주소</th>
						<th>가입일자</th>
						<th>마지막 로그인일자</th>
						<th>탈퇴</th>
                    </tr>
                  </thead>
                  <tbody>
                   <tr th:if="${#lists.size(userList) > 0}" th:each="l,index : ${userList}">
						<td th:text="${index.count}"></td>
						<td th:text="${l.memberId}"></td>
						<td th:text="${l.memberName}"></td>
						<td th:text="${l.memberAddr}"></td>
						<td th:text="${l.memberRegDate}"></td>
						<td th:text="${l.userLastLoginDate}"></td>
						<td>
							<a th:href="@{/removeMasterMember(memberId=${l.memberId}, memberLevel=${l.memberLevel})}">탈퇴처리</a>
						</td>
					</tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
  </th:block>
</html>
