<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="blogareaFragment">
    <section class="blog_area section_padding_0_80">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
            <div class="row">
              <!-- Single Post -->
              <div class="col-12">
                <div class="single-post wow fadeInUp" data-wow-delay=".2s">
                  <!-- Post Thumb -->
                  <div class="post-thumb">
                    <img src="img/blog-img/1.jpg" alt="" />
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="single-post wow fadeInUp" data-wow-delay=".4s">
                  <!-- Post Thumb -->
                  <div class="post-thumb">
                    <img src="img/blog-img/2.jpg" alt="" />
                  </div>
                  <!-- Post Content -->
                  <div class="post-content">
                    <div class="post-meta d-flex">
                      <div class="post-author-date-area d-flex">
                        <!-- Post Author -->
                        <div class="post-author">
                          <a href="#">By Marian</a>
                        </div>
                        <!-- Post Date -->
                        <div class="post-date">
                          <a href="#">May 19, 2017</a>
                        </div>
                      </div>
                      <!-- Post Comment & Share Area -->
                      <div class="post-comment-share-area d-flex">
                        <!-- Post Favourite -->
                        <div class="post-favourite">
                          <a href="#"
                            ><i class="fa fa-heart-o" aria-hidden="true"></i>
                            10</a
                          >
                        </div>
                        <!-- Post Comments -->
                        <div class="post-comments">
                          <a href="#"
                            ><i class="fa fa-comment-o" aria-hidden="true"></i>
                            12</a
                          >
                        </div>
                        <!-- Post Share -->
                        <div class="post-share">
                          <a href="#"
                            ><i class="fa fa-share-alt" aria-hidden="true"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                    <a href="#">
                      <h4 class="post-headline">
                        Where To Get The Best Sunday Roast In The Cotswolds
                      </h4>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="single-post wow fadeInUp" data-wow-delay=".4s">
                  <!-- Post Thumb -->
                  <div class="post-thumb">
                    <img src="img/blog-img/2.jpg" alt="" />
                  </div>
                  <!-- Post Content -->
                  <div class="post-content">
                    <div class="post-meta d-flex">
                      <div class="post-author-date-area d-flex">
                        <!-- Post Author -->
                        <div class="post-author">
                          <a href="#">By Marian</a>
                        </div>
                        <!-- Post Date -->
                        <div class="post-date">
                          <a href="#">May 19, 2017</a>
                        </div>
                      </div>
                      <!-- Post Comment & Share Area -->
                      <div class="post-comment-share-area d-flex">
                        <!-- Post Favourite -->
                        <div class="post-favourite">
                          <a href="#"
                            ><i class="fa fa-heart-o" aria-hidden="true"></i>
                            10</a
                          >
                        </div>
                        <!-- Post Comments -->
                        <div class="post-comments">
                          <a href="#"
                            ><i class="fa fa-comment-o" aria-hidden="true"></i>
                            12</a
                          >
                        </div>
                        <!-- Post Share -->
                        <div class="post-share">
                          <a href="#"
                            ><i class="fa fa-share-alt" aria-hidden="true"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                    <a href="#">
                      <h4 class="post-headline">
                        Where To Get The Best Sunday Roast In The Cotswolds
                      </h4>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="single-post wow fadeInUp" data-wow-delay=".4s">
                  <!-- Post Thumb -->
                  <div class="post-thumb">
                    <img src="img/blog-img/2.jpg" alt="" />
                  </div>
                  <!-- Post Content -->
                  <div class="post-content">
                    <div class="post-meta d-flex">
                      <div class="post-author-date-area d-flex">
                        <!-- Post Author -->
                        <div class="post-author">
                          <a href="#">By Marian</a>
                        </div>
                        <!-- Post Date -->
                        <div class="post-date">
                          <a href="#">May 19, 2017</a>
                        </div>
                      </div>
                      <!-- Post Comment & Share Area -->
                      <div class="post-comment-share-area d-flex">
                        <!-- Post Favourite -->
                        <div class="post-favourite">
                          <a href="#"
                            ><i class="fa fa-heart-o" aria-hidden="true"></i>
                            10</a
                          >
                        </div>
                        <!-- Post Comments -->
                        <div class="post-comments">
                          <a href="#"
                            ><i class="fa fa-comment-o" aria-hidden="true"></i>
                            12</a
                          >
                        </div>
                        <!-- Post Share -->
                        <div class="post-share">
                          <a href="#"
                            ><i class="fa fa-share-alt" aria-hidden="true"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                    <a href="#">
                      <h4 class="post-headline">
                        Where To Get The Best Sunday Roast In The Cotswolds
                      </h4>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="single-post wow fadeInUp" data-wow-delay=".4s">
                  <!-- Post Thumb -->
                  <div class="post-thumb">
                    <img src="img/blog-img/2.jpg" alt="" />
                  </div>
                  <!-- Post Content -->
                  <div class="post-content">
                    <div class="post-meta d-flex">
                      <div class="post-author-date-area d-flex">
                        <!-- Post Author -->
                        <div class="post-author">
                          <a href="#">By Marian</a>
                        </div>
                        <!-- Post Date -->
                        <div class="post-date">
                          <a href="#">May 19, 2017</a>
                        </div>
                      </div>
                      <!-- Post Comment & Share Area -->
                      <div class="post-comment-share-area d-flex">
                        <!-- Post Favourite -->
                        <div class="post-favourite">
                          <a href="#"
                            ><i class="fa fa-heart-o" aria-hidden="true"></i>
                            10</a
                          >
                        </div>
                        <!-- Post Comments -->
                        <div class="post-comments">
                          <a href="#"
                            ><i class="fa fa-comment-o" aria-hidden="true"></i>
                            12</a
                          >
                        </div>
                        <!-- Post Share -->
                        <div class="post-share">
                          <a href="#"
                            ><i class="fa fa-share-alt" aria-hidden="true"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                    <a href="#">
                      <h4 class="post-headline">
                        Where To Get The Best Sunday Roast In The Cotswolds
                      </h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ****** Blog Sidebar ****** -->
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="blog-sidebar mt-5 mt-lg-0">
              <!-- Single Widget Area -->
              <div class="single-widget-area about-me-widget text-center">
                <div class="about-me-widget-thumb">
                  <img src="img/about-img/1.jpg" alt="" />
                </div>
                <h4 class="font-shadow-into-light">Shopia Bernard</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt
                </p>

                <div class="single-widget-area subscribe_widget text-center">
                  <div class="widget-title">
                    <h6>Subscribe &amp; Follow</h6>
                  </div>
                </div>
              </div>
            </div>
            <!-- Single Widget Area -->
            <div class="single-widget-area popular-post-widget">
              <div class="widget-title text-center">
                <h6>Populer Post</h6>
              </div>
              <!-- Single Popular Post -->
              <div class="single-populer-post d-flex">
                <img src="img/sidebar-img/1.jpg" alt="" />
                <div class="post-content">
                  <a href="#">
                    <h6>Top Wineries To Visit In England</h6>
                  </a>
                  <p>Tuesday, October 3, 2017</p>
                </div>
              </div>
              <!-- Single Popular Post -->
              <div class="single-populer-post d-flex">
                <img src="img/sidebar-img/2.jpg" alt="" />
                <div class="post-content">
                  <a href="#">
                    <h6>The 8 Best Gastro Pubs In Bath</h6>
                  </a>
                  <p>Tuesday, October 3, 2017</p>
                </div>
              </div>
              <!-- Single Popular Post -->
              <div class="single-populer-post d-flex">
                <img src="img/sidebar-img/3.jpg" alt="" />
                <div class="post-content">
                  <a href="#">
                    <h6>Zermatt Unplugged the best festival</h6>
                  </a>
                  <p>Tuesday, October 3, 2017</p>
                </div>
              </div>
              <!-- Single Popular Post -->
              <div class="single-populer-post d-flex">
                <img src="img/sidebar-img/4.jpg" alt="" />
                <div class="post-content">
                  <a href="#">
                    <h6>Harrogate's Top 10 Independent Eats</h6>
                  </a>
                  <p>Tuesday, October 3, 2017</p>
                </div>
              </div>
              <!-- Single Popular Post -->
              <div class="single-populer-post d-flex">
                <img src="img/sidebar-img/5.jpg" alt="" />
                <div class="post-content">
                  <a href="#">
                    <h6>Eating Out On A Budget In Oxford</h6>
                  </a>
                  <p>Tuesday, October 3, 2017</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</html>
