<html xmlns:th="http://www.thymeleaf.org">
  <footer class="footer_area" th:fragment="FooterMenuFragment">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-content">
            <!-- Logo Area Start -->
            <div class="footer-logo-area text-center">
              <a href="index.html" class="yummy-logo">Fourhealth</a>
            </div>
            <!-- Menu Area Start -->
            <nav class="navbar navbar-expand-lg">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#yummyfood-footer-nav"
                aria-controls="yummyfood-footer-nav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fa fa-bars" aria-hidden="true"></i> Menu
              </button>
              <!-- Menu Area Start -->
              <div
                class="collapse navbar-collapse justify-content-center"
                id="yummyfood-footer-nav"
              >
              

              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Copywrite Text -->
          <div class="copy_right_text text-center">
            <p>
              Copyright @2021 All rights reserved |
              <i class="fas fa-weight" aria-hidden="true"></i>
              by
              <a href="/" target="_blank">Fourhealth</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
