<!-- ****** Header Area Start ****** -->
<div class="Header_Area" th:fragment="headerFragment">
  <div class="row">
    <!-- Logo Area Start -->
    <div class="col-12" id="logo_area">
      <div class="logo_area text-center">
        <a href="index.html" class="yummy-logo">Yummy Blog</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#yummyfood-nav"
          aria-controls="yummyfood-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars" aria-hidden="true"></i> Menu
        </button>
        <!-- Menu Area Start -->
        <div
          class="ncollapse navbar-collapse justify-content-center"
          id="yummyfood-nav"
        >
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="yummyDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><i class="fas fa-bars"></i
            ></a>
            <div class="dropdown-menu" aria-labelledby="yummyDropdown">
              <a class="dropdown-item" th:href="@{/}">Home</a>
              <a class="dropdown-item" th:href="@{/promotionList}">#matching</a>
              <a class="dropdown-item" href="/sns">#SNS</a>
              <a class="dropdown-item" href="/food">#Food</a>
              <a class="dropdown-item" href="/exercise">#Exercise</a>
              <a class="dropdown-item" href="/contact">#contact</a>
              <a class="dropdown-item" href="/about">#About</a>
            </div>
          </li>
          <ul class="navbar-nav" id="yummy-nav">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/}"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/promotionList}">#matching</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sns">!SNS</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="informationDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Information</a
              >
              <div class="dropdown-menu" aria-labelledby="informationDropdown">
                <a class="dropdown-item" href="/food">#Food</a>
                <a class="dropdown-item" href="/exercise">#Exercise</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">#contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">#About</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
