<head th:fragment="headFragment">
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- 상단 위의 메타 태그는 반드시 헤드 태그의 맨 상단에 위치해야합니다.다른 헤드 컨텐츠는 반드시 위 메타 태그 아래로 작성해야합니다. -->

    <!-- 페이지 타이틀 쪽 아이콘  -->
    <link rel="icon" href="/static/img/core-img/favicon.ico" />

    <!-- 
        메인 css 파일 
        * 메인 쪽 css 파일은 아래의 style 파일쪽에서 import 하여 관리
        * 해당 영역에서 추가할 부분이 있다면 위 css 파일에서 import 하기
    -->
    <link href="/static/main_css/style.css" rel="stylesheet" />

    <!-- Responsive CSS -->
    <!-- 반응형 css -->
    <link href="/static/main_css/responsive/responsive.css" rel="stylesheet" />

    <!-- 테마 css -->
    <link rel="stylesheet" href="/static/main_css/others/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/main_css/others/owl.theme.default.min.css" />

    <!-- 합쳐지고 최소화된 최신 CSS 부트스트랩 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- bootstrap cdn end -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/main_css/js/others/owl.carousel.min.js"></script>

    <script src="https://kit.fontawesome.com/bdd998710e.js" crossorigin="anonymous"></script>

    <!-- 합쳐지고 최소화된 최신 자바스크립트 부트스트랩-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- swiper CSS -->
	<link rel="stylesheet" href="/static/main_css/swiper/swiper.min.css">


    <link rel="stylesheet"
	href="manage_css/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<!-- iCheck -->
<link rel="stylesheet"
	href="manage_css/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- JQVMap -->
<link rel="stylesheet" href="manage_css/plugins/jqvmap/jqvmap.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="manage_css/adminlte.css">
<link rel="stylesheet" href="manage_css/adminlte.min.css">

    <!--  결제 모듈 자바스크립트 -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    
    <!-- 캐러셀 스크립트 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>

</html>