<!-- SNS 리스트 표시 영역
  # 그냥 유지


-->
<div
  class="instargram_area owl-carousel section_padding_100_0 clearfix"
  id="portfolio"
>
  <!-- Instagram Item -->
  <div class="instagram_gallery_item">
    <!-- Instagram Thumb -->
    <img src="img/instagram-img/1.jpg" alt="" />
    <!-- Hover -->
    <div class="hover_overlay">
      <div class="yummy-table">
        <div class="yummy-table-cell">
          <div class="follow-me text-center">
            <a href="#"
              ><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Instagram Item -->
  <div class="instagram_gallery_item">
    <!-- Instagram Thumb -->
    <img src="img/instagram-img/2.jpg" alt="" />
    <!-- Hover -->
    <div class="hover_overlay">
      <div class="yummy-table">
        <div class="yummy-table-cell">
          <div class="follow-me text-center">
            <a href="#"
              ><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Instagram Item -->
  <div class="instagram_gallery_item">
    <!-- Instagram Thumb -->
    <img src="img/instagram-img/3.jpg" alt="" />
    <!-- Hover -->
    <div class="hover_overlay">
      <div class="yummy-table">
        <div class="yummy-table-cell">
          <div class="follow-me text-center">
            <a href="#"
              ><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Instagram Item -->
  <div class="instagram_gallery_item">
    <!-- Instagram Thumb -->
    <img src="img/instagram-img/4.jpg" alt="" />
    <!-- Hover -->
    <div class="hover_overlay">
      <div class="yummy-table">
        <div class="yummy-table-cell">
          <div class="follow-me text-center">
            <a href="#"
              ><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Instagram Item -->
  <div class="instagram_gallery_item">
    <!-- Instagram Thumb -->
    <img src="img/instagram-img/5.jpg" alt="" />
    <!-- Hover -->
    <div class="hover_overlay">
      <div class="yummy-table">
        <div class="yummy-table-cell">
          <div class="follow-me text-center">
            <a href="#"
              ><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Instagram Item -->
  <div class="instagram_gallery_item">
    <!-- Instagram Thumb -->
    <img src="img/instagram-img/6.jpg" alt="" />
    <!-- Hover -->
    <div class="hover_overlay">
      <div class="yummy-table">
        <div class="yummy-table-cell">
          <div class="follow-me text-center">
            <a href="#"
              ><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Instagram Item -->
  <div class="instagram_gallery_item">
    <!-- Instagram Thumb -->
    <img src="img/instagram-img/1.jpg" alt="" />
    <!-- Hover -->
    <div class="hover_overlay">
      <div class="yummy-table">
        <div class="yummy-table-cell">
          <div class="follow-me text-center">
            <a href="#"
              ><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Instagram Item -->
  <div class="instagram_gallery_item">
    <!-- Instagram Thumb -->
    <img src="img/instagram-img/2.jpg" alt="" />
    <!-- Hover -->
    <div class="hover_overlay">
      <div class="yummy-table">
        <div class="yummy-table-cell">
          <div class="follow-me text-center">
            <a href="#"
              ><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
