<html xmlns:th="http://www.thymeleaf.org" th:fragment="jsFragment">
  <script src="/static/main_css/js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="/static/main_css/js/bootstrap/popper.min.js"></script>
  <!-- Bootstrap-4 js -->
  <script src="/static/main_css/js/bootstrap/bootstrap.min.js"></script>
  <!-- All Plugins JS -->
  <script src="/static/main_css/js/others/plugins.js"></script>
  <!-- Active JS -->
  <script src="/static/main_css/js/active.js"></script>
  <!-- Sns JS -->
  <script src="/static/main_css/js/snsList.js"></script>
  <!--Sniper Js  -->
  <script src="/static/main_css/js/swiper/swiper.min.js"></script>
  <script src="/static/main_css/js/swiper.js"></script>
</html>
