<!-- Single Slide -->
<div
  id="carouselExampleControls"
  class="carousel slide"
  data-ride="carousel"
  th:fragment="slidersFragment"
>

<!-- ****** Welcome Post Area Start ****** -->
    <section class="welcome-post-sliders owl-carousel">

        <!-- Single Slide -->
        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img src="/static/img/bg-img/slide-1.jpg" alt="">
            <!-- Overlay Text -->
        </div>

        <!-- Single Slide -->
        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img src="/static/img/bg-img/slide-2.jpg" alt="">
        </div>
        <!-- Single Slide -->
        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img src="/static/img/bg-img/slide-3.jpg" alt="">
        </div>

        <!-- Single Slide -->
        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img src="/static/img/bg-img/slide-4.jpg" alt="">
        </div>

        <!-- Single Slide -->
        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img src="/static/img/bg-img/slide-3.jpg" alt="">
        </div>

    </section>
    <!-- ****** Welcome Area End ****** -->
   </div>
