<!-- ****** Top Header Area Start ****** -->
<div class="top_header_area" th:fragment="topHeaderFragment">
  <div class="container">
    <div class="row">
      <div class="col-5 col-sm-6">
        <!--  Top Social bar start -->
        <div class="top_social_bar">
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
        </div>
      </div>
      <!--  Login Register Area -->
      <div class="col-7 col-sm-6">
        <div
          class="signup-search-area d-flex align-items-center justify-content-end"
        >
          <div class="login_register_area d-flex">
            <div class="login">
              <div class="login">
               <a th:href="@{/login}" th:if="${session.SID eq null}">Sign in</a>
            </div>
            </div>
            <div class="Sing up">
              <a th:href="@{/levelSelect}" th:if="${session.SID eq null}">Sing up</a>
            </div>
               <th:block th:unless="${session.SID eq null}">
		           <label style="color:white"> [[${session.SGRADE}]] &nbsp;[[${session.SLEVEL}]] &nbsp; [[${session.SNICKNAME}]] 
		         <!--   <span th:if="${session.SLEVEL} == 'user_level_002'" th:text="${session.winRnkg}"></span>
					<span th:unless="${session.SLEVEL} == 'user_level_003'">사용자</span> -->
		           </label>
		      <a th:href="@{/#}" style="text-align: center;"> &nbsp; My page</a>    
		      <a th:href="@{/logout}" style="text-align: right;"> &nbsp; 로그아웃</a>         
		       </th:block>

             <div class="master">
              <a th:href ="@{/master_main}" th:if="${session.SLEVEL eq '관리자'}" style="margin-left: 10px;">관리자 화면</a>
            </div>
          </div>
          <!-- Search Button Area -->

          <!-- Search Form -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ****** Top Header Area End ****** -->
