<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{/default_layout/manage/default}"
 >
 	<th:block layout:fragment="customContent">
 	<h1>보낸 쪽지함</h1>

	<div class="row">
		<div class="col-md-9">
			<div class="card card-primary card-outline">
				<div class="card-header">
					<h3 class="card-title">보낸쪽지함</h3>
					<div class="card-tools">
						<div class="input-group input-group-sm">
							<input type="text" class="form-control" placeholder="Search Mail">
							<div class="input-group-append">
								<div class="btn btn-primary">
									<i class="fas fa-search"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body p-0">
					<div class="mailbox-controls">
						<!-- Check all button -->
						<button type="button"
							class="btn btn-default btn-sm checkbox-toggle">
							<i class="far fa-square"></i>
						</button>
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-sm">
								<i class="far fa-trash-alt"></i>
							</button>
							<button type="button" class="btn btn-default btn-sm">
								<i class="fas fa-reply"></i>
							</button>
							<button type="button" class="btn btn-default btn-sm">
								<i class="fas fa-share"></i>
							</button>
						</div>
						<!-- /.btn-group -->
						<button type="button" class="btn btn-default btn-sm">
							<i class="fas fa-sync-alt"></i>
						</button>
						<div class="float-right">
							1-50/200
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-sm">
									<i class="fas fa-chevron-left"></i>
								</button>
								<button type="button" class="btn btn-default btn-sm">
									<i class="fas fa-chevron-right"></i>
								</button>
							</div>
							<!-- /.btn-group -->
						</div>
						<!-- /.float-right -->
					</div>
					<div class="table-responsive mailbox-messages">
						<table class="table table-hover table-striped">
							<tr>
								<td></td>
								<td>받은사람</td>
								<td>내용</td>
								<td>발송일자</td>
								<td>수신일자</td>
								<td>취소</td>
							</tr>
							<tbody>
								<tr th:each="m : ${sendMsg}">
									<td>
										<div class="icheck-primary">
											<input type="checkbox" value="" id="check1"> <label
												for="check1"></label>
										</div>
									</td>
									<input type="hidden" id="msg_val" th:value="${m.msgCode}">
									<td class="mailbox-name"><a th:href="@{/trainer/message/trainerSendMessageRead(msgCode = ${m.msgCode})}"
										th:text="${m.receiveId}"></a></td>
									<td class="mailbox-subject"
										th:text="${#strings.substring(m.msgContents,0,7)}+..."></td>
									<td class="mailbox-date" th:text="${m.msgSendDate}"></td>
									<td class="mailbox-date" th:text="${m.msgReadDate}"></td>
									<td
										th:if="${m.msgReadDate.toString().equals('읽지않음') && m.msgSendCancel ==null}">
										<a class="msg_del" role="button">취소하기</a>
									</td>
									<td th:if="${m.msgSendCancel !=null}"><span>취소성공</span></td>
								</tr>
							</tbody>
						</table>
						<!-- /.table -->
					</div>
				</div>
			</div>
		</div>
		<!-- /.card -->
		<div class="col-md-3">
			<a href="compose.html" class="btn btn-primary btn-block mb-3">쪽지작성</a>
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">쪽지</h3>

					<div class="card-tools">
						<button type="button" class="btn btn-tool"
							data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="card-body p-0">
					<ul class="nav nav-pills flex-column">
						<li class="nav-item active"><a th:href="@{/trainer/message/trainerMessageReceiveManage}" class="nav-link">
								<i class="fas fa-inbox"></i> 받은쪽지함 <span
								class="badge bg-primary float-right"
								th:text="${session.noReadMessageCnt}"></span>
						</a></li>
						<li class="nav-item"><a th:href="@{/trainer/message/trainerMessageSendManage}" class="nav-link"> <i
								class="far fa-envelope"></i> 보낸쪽지함
						</a></li>
					</ul>
				</div>
				<!-- /.card-body -->
			</div>

			<!-- /.card -->
		</div>
	</div>
</th:block>
</html>

