<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{/default_layout/manage/default}">
	<th:block layout:fragment="customContent">
		<h1>받은 쪽지함</h1>
	
		<div class="row">
			<div class="col-md-9">
				<div class="card card-primary card-outline">
					<div class="card-header">
						<h3 class="card-title">받은쪽지함</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body p-0">
						<div class="mailbox-controls float-right">
							
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-sm">
									<i class="far fa-trash-alt"></i>
								</button>
								<button type="button" class="btn btn-default btn-sm">
									<i class="fas fa-reply"></i>
								</button>
								<button type="button" class="btn btn-default btn-sm">
									<i class="fas fa-share"></i>
								</button>
							</div>
							<!-- /.btn-group -->
							<button type="button" class="btn btn-default btn-sm">
								<i class="fas fa-sync-alt"></i>
							</button>
						
							<!-- /.float-right -->
						</div>
						<div class="table-responsive mailbox-messages">
							<table id="msg_receive_table" class="table table-bordered table-striped dataTable dtr-inline" role="grid"
							aria-describedby="example1_info" style="font-size: small;">
							<thead>
							  <tr role="row">
								<th><!-- Check all button -->
									<button type="button"
										class="btn btn-default btn-sm checkbox-toggle">
										<i class="far fa-square"></i>
									</button>
								  </th>
								<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
								  aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
								  보낸사람</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
								  aria-label="Browser: activate to sort column ascending">내용</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
								  aria-label="Platform(s): activate to sort column ascending"> 발송일자</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
								  aria-label="Engine version: activate to sort column ascending">읽은일자</th>
				
							</thead>
							<tbody>
							  <tr th:if="${#lists.size(receiveMsg)}>0" th:each="m : ${receiveMsg}" role="row" class="odd">
								<td>
									<div class="icheck-primary">
										<input type="checkbox" value="" th:id="${m.msgCode}">
										<label th:for="${m.msgCode}"></label>
									</div>
								</td>
								<td class="msg_val"><input type="hidden"
									th:value="${m.msgCode}" id="msg_code"> <a
									th:text="${m.sendId}"></a></td>
								<td><a
									th:href="@{/trainer/message/trainerReceiveMessageRead(msgCode=${m.msgCode})}"
									th:text="${#strings.substring(m.msgContents,0,7)}+..."></a></td>
								<td th:text="${m.msgSendDate}"></td>
								<td><span th:if="${m.msgReadDate == null}">읽지않음</span> <span
									th:unless="${m.msgReadDate == null}"
									th:text="${m.msgReadDate}"></span>
								</td>
							  </tr>
							</tbody>
						  </table>
						</div>
					</div>
				</div>
			</div>
			<!-- /.card -->
			<div class="col-md-3">
				<a th:href="@{/trainer/message/trainerSendMessage}" class="btn btn-primary btn-block mb-3">쪽지작성</a>
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">쪽지</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool"
								data-card-widget="collapse">
								<i class="fas fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="card-body p-0">
						<ul class="nav nav-pills flex-column">
							<li class="nav-item active"><a th:href="@{/trainer/message/trainerMessageReceiveManage}" class="nav-link">
									<i class="fas fa-inbox"></i> 받은쪽지함 <span
									class="badge bg-primary float-right"
									th:text="${session.noReadMessageCnt}"></span>
							</a></li>
							<li class="nav-item"><a th:href="@{/trainer/message/trainerMessageSendManage}" class="nav-link"> <i
									class="far fa-envelope"></i> 보낸쪽지함
							</a></li>
						</ul>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
		</div>
	</th:block>
</html>
<script>
	$(function () {
	  $('#msg_receive_table').DataTable({
		"paging": true,
		"lengthChange": true,
		"searching": true,
		"ordering": true,
		"info": true,
		"autoWidth": false,
		"responsive": true,
	  }).buttons().container().appendTo('#disease_wrapper .col-md-6:eq(0)');
	});
  </script>

