<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/main/default}">
  <title th:text="${title}"></title>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<th:block layout:fragment="mainContent">
   		<section>
		   <div class="container">
			   <form th:action="@{/snsInsert}" method="post" enctype="multipart/form-data">
					<table class="table table-bordered">
							<tr>
								<tr>
						          	<td>작성자 아이디 :</td>
						         	<td>
						           		<input type="text" name="userId" th:value="${session.SID}" readonly="readonly"/>
						          	</td>
						        </tr>
								<tr>
						        	<td>Content</td>
						        	<td><input type="text" name="userSnsContents" /></td>
						        </tr>
						        <tr>
						         	<td>Image</td>
						         	<td><input type="file" name="userSnsUploadFile" /></td>
						        </tr>
							</tr>
					</table>
					<button type="submit" id="snsInsertBtn">작성</button>
				</form>
			</div>
		</section>
	</div>
</th:block>
</body>
</html>