<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head th:replace="fragments/head :: headFragment"></head>
<body>
   <div id="preloader">
       <div class="yummy-load"></div>
   </div>
   <div th:replace="fragments/TopHeader :: topHeaderFragment"></div>
   <header class="header_area" th:replace="fragments/header :: headerFragment"></header>
   <div class="center-block">
   <form th:action="@{/snsInsert}" method="post">
	   <div class="container">
			<table class="table table-bordered">
					<tr>
						<tr>
				          	<td>작성자 아이디 :</td>
				         	<td>
				           		<input type="text" name="userId" th:value="${session.USERID}" />
				          	</td>
				        </tr>
						<tr>
				        	<td>Content</td>
				        	<td><input type="text" name="userSnsContents" /></td>
				        </tr>
				        <tr>
				         	<td>Image</td>
				         	<td><input type="file" id="userSnsUploadFile" name="userSnsUploadFile" /></td>
				        </tr>
					</tr>
			</table>
			<button type="submit" id="snsInsertBtn">작성</button>
		</div>
	</form>
	</div>
    <div th:replace="fragments/Footer_Menu :: FooterMenuFragment"></div>
    <div th:replace="fragments/Jquery :: jsFragment"></div>
    
</body>
</html>