<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>SNS 작성 페이지</title>
</head>
<body>
	<div>
		<h2>Writing</h2>
		<form th:action="">
			<div>
				<label for="">Title</label><br />
				<input type="text" placeholder="Please put in Title" />
			</div>
			<div>
				<label for="">Contents</label><br />
				<textarea rows="9" cols="99" placeholder="Please put in Contents"></textarea>
			</div>	
			<div>
				<input type="file" />
			</div>
		</form>
	</div>
</body>
</html>