<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <!-- Main Sidebar Container -->
  <aside
    class="main-sidebar sidebar-dark-primary elevation-4"
    th:fragment="leftMenuFragment"
  >
    <!-- Brand Logo -->
    <a href="/manage" class="brand-link">
      <img
        src="/img/master_img/AdminLTELogo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
      />
      <span class="brand-text font-weight-light">로고</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img
            src="/img/master_img/user2-160x160.jpg"
            class="img-circle elevation-2"
            alt="User Image"
          />
        </div>
        <div class="info">
          <a href="#" class="d-block">id002(트레이너)</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input
            class="form-control form-control-sidebar"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                #프로필 관리
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/trainerProfileInsert" class="nav-link">
                  <p>#프로필 등록</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/trainerProfile" class="nav-link">
                  <p>#프로필 보기</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/trainerProfileModify" class="nav-link">
                  <p>#프로필 수정</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- 트레이너 메뉴 시작 -->
          <div
            th:if="${session.SLEVEL eq '트레이너' || session.SLEVEL == null}"
          >
            <li class="nav-item">
              <a href="/trainerProfileModify" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                  #프로모션 관리
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/myPromotionInsert" class="nav-link">
                    <p>!프로모션 등록</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/myPromotionList" class="nav-link">
                    <p>!프로모션 조회</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/myPromotionModify" class="nav-link">
                    <p>#프로모션 수정</p>
                  </a>
                </li>
                <!-- <li class="nav-item">
                <a href="pages/mailbox/compose.html" class="nav-link">
                  <p>#프로모션 삭제</p>
                </a>
              </li> -->
              </ul>
            </li>

            <li class="nav-item">
              <a href="pages/kanban.html" class="nav-link">
                <i class="nav-icon fas fa-columns"></i>
                <p>
                  #회원 스케줄 관리
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/trainerScheduleInsert" class="nav-link">
                    <p>!스케줄등록(음식,운동)</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/trainerScheduleList" class="nav-link">
                    <p>#스케줄조회(음식,운동)</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/trainerScheduleModify" class="nav-link">
                    <p>#스케줄수정(음식,운동)</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-envelope"></i>
                <p>
                  !쪽지관리
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a th:href="@{/trainerSendMessage}" class="nav-link">
                    <p>!쪽지 작성</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/trainerMessageReceiveManage}" class="nav-link">
                    <p>!받은 쪽지함</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/trainerMessageSendManage}" class="nav-link">
                    <p>!보낸 쪽지함</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="pages/mailbox/read-mail.html" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>#정산계좌관리</p>
                <i class="fas fa-angle-left right"></i>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/adjustmentAccountInsert" class="nav-link">
                    <p>#정산계좌등록</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/adjustmentAccountModify" class="nav-link">
                    <p>#정산계좌수정</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/adjustmentAccount" class="nav-link">
                    <p>#정산금액조회</p>
                  </a>
                </li>
              </ul>
            </li>
          </div>
          <!-- 트레이너 메뉴 끝-->
          <a th:if="${session.SLEVEL == null}"
            >----------------------------------------</a
          >
          <!-- 관리자 메뉴 시작-->
          <div th:if="${session.SLEVEL eq '관리자' || session.SLEVEL == null}">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                  &nbsp &nbsp #사용자 관리
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/userList" class="nav-link">
                    <p>#사용자 회원목록</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/userLoginList" class="nav-link">
                    <p>#사용자 로그인 조회</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/dormantUserList" class="nav-link">
                    <p>#탈퇴된 사용자 조회</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                  &nbsp &nbsp #트레이너 관리
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/trainerList" class="nav-link">
                    <p>!트레이너 회원목록</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/trainerAccessList" class="nav-link">
                    <p>#트레이너 비승인목록</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/trainerLoginList" class="nav-link">
                    <p>#트레이너 로그인 조회</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/dormantTrainerList" class="nav-link">
                    <p>#탈퇴된 트레이너 조회</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-envelope"></i>
                <p>
                  &nbsp &nbsp #매칭관리
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a th:href="@{/matchingList}" class="nav-link">
                    <p>전체 매칭목록 조회</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/matchingRefundList}" class="nav-link">
                    <p>매칭 파기 신청 조회(환불)</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-columns"></i>
                <p>
                  &nbsp &nbsp #질병DB관리
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/diseaseDataInsert" class="nav-link">
                    <p>#질병DB등록</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/diseaseDataList" class="nav-link">
                    <p>#질병DB조회</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/diseaseDataModify" class="nav-link">
                    <p>#질병DB수정</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a href="pages/kanban.html" class="nav-link">
                <i class="nav-icon fas fa-columns"></i>
                <p>
                  &nbsp &nbsp #운동DB관리
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/exerciseDataInsert" class="nav-link">
                    <p>#운동DB등록</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/exerciseDataInsert" class="nav-link">
                    <p>#운동DB조회</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/exerciseDataInsert" class="nav-link">
                    <p>#운동DB수정</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a href="pages/kanban.html" class="nav-link">
                <i class="nav-icon fas fa-columns"></i>
                <p>
                  &nbsp &nbsp #음식DB관리
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/foodDataInsert" class="nav-link">
                    <p>#음식DB등록</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/foodDataList" class="nav-link">
                    <p>#음식DB조회</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/foodDataModify" class="nav-link">
                    <p>#음식DB수정</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-envelope"></i>
                <p>
                  &nbsp &nbsp !쪽지관리
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a th:href="@{/trainerSendMessage}" class="nav-link">
                    <p>!쪽지 작성</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/trainerMessageReceiveManage}" class="nav-link">
                    <p>!받은 쪽지함</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/trainerMessageSendManage}" class="nav-link">
                    <p>!보낸 쪽지함</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-envelope"></i>
                <p>
                  &nbsp &nbsp #플렛폼 등급관리
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a th:href="@{/userPlatformGrade}" class="nav-link">
                    <p>
                      #사용자 플렛폼 등급 <br />
                      &nbsp조회 & 수정
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/trainerPlatformGrade}" class="nav-link">
                    <p>
                      #트레이너 플렛폼 등급 <br />
                      &nbsp조회 & 수정
                    </p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a href="pages/mailbox/read-mail.html" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>&nbsp &nbsp #정산계좌관리</p>
                <i class="fas fa-angle-left right"></i>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/adjustmentAccountInsert" class="nav-link">
                    <p>#정산계좌등록</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/adjustmentAccountModify" class="nav-link">
                    <p>#정산계좌수정</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/adjustmentAccount" class="nav-link">
                    <p>#정산금액조회</p>
                  </a>
                </li>
              </ul>
            </li>
          </div>
          <!-- 관리자 메뉴 끝-->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</html>
