<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>피트니스 정보</title>
<style type="text/css">

.swiper-container {
	height:380px;
	width:800px; 
	border:5px solid black;
}
.swiper-slide {
	text-align:center;
	display:flex;
	align-items:center; 
	justify-content:center; 
}

</style>
<link href="bootstrap-3.3.2/css/bootstrap.min.css" rel="stylesheet">
<link href="bootstrap-3.3.2/css/bootstrap-theme.min.css" rel="stylesheet">
<link rel="stylesheet" href="swiper/swiper.min.css">

</head>
<body>
	<h1>신체단련</h1>
	<span>당신에게 맞는 운동을 찾아서 오늘부터 칼로리를 태워보세요!</span>
	

	<form th:action="@{/serachExercise}" method="post">
		<h3>활동 및 운동찾기</h3>
		<input type="text" name="exercise_name">
		<button type="submit">검색하기</button>
		<div>
			<label><input type="radio" name="met_coefficient" value="easy">가벼움</label>
			<label><input type="radio" name="met_coefficient" value="normal">보통</label>
			<label><input type="radio" name="met_coefficient" value="hard">격렬함</label>
			<label><input type="radio" name="met_coefficient" value="all">전체</label>
		</div>
	</form>
	<div class="swiper-container">
		<div class="swiper-wrapper" >
			<div class="swiper-slide" th:each="e : ${easy}">
				<div>
					<h1 th:text="${e.exerciseName}"></h1>
					<h3>예상 에너지소비량 (70kg)</h3> 
					<p>5분 : <span th:text=${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*5/1000)*5,0)}></span>kal</p>
					<p>10분 : <span th:text=${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*10/1000)*5,0)}></span>kal</p>
					<p>15분 : <span th:text=${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*15/1000)*5,0)}></span>kal</p>
					<p>30분 : <span th:text=${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*30/1000)*5,0)}></span>kal</p>
					
				</div>
				
				
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>



	<h3>운동 유형별 에너지 소비량</h3>
<table border="1" style="display: inline-block;">
		<tr>
			<th colspan="3">가벼운강도</th>
		</tr>
		<tr>
			<td>운동이름</td>
			<td>cals/시간</td>
			<td>met계수</td>
		</tr>
		<tr th:each="e : ${easy}">
			<td th:text="${e.exerciseName}"></td>
			<td th:text="${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*60/1000)*5,0)}"></td>
			<td th:text="${e.exerciseMetCoeffcient}"></td>
		</tr>
	</table>
	<table border="1" style="display: inline-block;">
		<tr>
			<th colspan="3" >보통강도</th>
		</tr>
		<tr>
			<td>운동이름</td>
			<td>cals/시간</td>
			<td>met계수</td>
		</tr>
		<tr th:each="e : ${normal}">
			<td th:text="${e.exerciseName}"></td>
			<td th:text="${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*60/1000)*5,0)}"></td>
			<td th:text="${e.exerciseMetCoeffcient}"></td>
		</tr>
	</table>
	<table border="1" style="display: inline-block;">
		<tr>
			<th colspan="3">격렬한강도</th>
		</tr>
		<tr>
			<td>운동이름</td>
			<td>cals/시간</td>
			<td>met계수</td>
		</tr>
		<tr th:each="e : ${hard}">
			<td th:text="${e.exerciseName}"></td>
			<td th:text="${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*60/1000)*5,0)}"></td>
			<td th:text="${e.exerciseMetCoeffcient}"></td>
		</tr>
	</table>
	<a th:href="@{/allExerciseList}" style="display: block;">전체보기</a>
	
<script src="swiper/swiper.min.js"></script>
<script>
	var mySwiper = new Swiper('.swiper-container', {
		navigation : {
			prevEl : '.swiper-button-prev',
			nextEl : '.swiper-button-next',
			},
			autoplay : {
				delay : 2000,
			},
		});
</script>
<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="bootstrap-3.3.2/js/bootstrap.min.js"></script>

</body>
</html>