<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/main/default}"
  lang="en"
>
  <title th:text="${title}"></title>

  <th:block layout:fragment="mainContent">
    <div class="container">
      <table class="table table-bordered m-5">
        <tr>
          <td>프로모션 작성자 아이디</td>
          <td th:text="${proDetail.userId}"></td>
        </tr>
        <tr>
          <td>프로모션 이름 :</td>
          <td th:text="${proDetail.trainerPromotionName}"></td>
        </tr>
        <tr>
          <td>프로모션 목표 :</td>
          <td th:text="${proDetail.trainerPromotionGoal}"></td>
        </tr>
        <tr>
          <td>프로모션 이미지 :</td>
          <td><img th:src="${proDetail.proImageUrl}" /></td>
        </tr>
        <tr>
          <td>프로모션 간략내용 :</td>
          <td th:text="${proDetail.trainerPromotionShortContents}"></td>
        </tr>
        <tr>
          <td>프로모션 상세내용 :</td>
          <td th:text="${proDetail.trainerPromotionDetailsContents}"></td>
        </tr>
        <tr>
          <td>프로모션 모집인원 :</td>
          <td th:text="${proDetail.trainerPromotionRecruitPeople}"></td>
        </tr>
        <tr>
          <td>프로모션 가격 :</td>
          <td th:text="${proDetail.trainerPromotionPrice}"></td>
        </tr>
        <tr>
          <td>프로모션 모집시작일자 :</td>
          <td th:text="${proDetail.trainerPromotionAttendStartDate}"></td>
        </tr>
        <tr>
          <td>프로모션 모집마감일자 :</td>
          <td th:text="${proDetail.trainerPromotionRecruitEndDate}"></td>
        </tr>
        <tr>
          <td>프로모션 모집참여시작일자 :</td>
          <td th:text="${proDetail.trainerPromotionAttendStartDate}"></td>
        </tr>
        <tr>
          <td>프로모션 모집참여종료일자 :</td>
          <td th:text="${proDetail.trainerPromotionRecruitCloseDate}"></td>
        </tr>
      </table>

      <form th:action="@{/promotionPaymentCheck}" method="Post">
        <input
          type="hidden"
          name="promotionNoticeCode"
          th:value="${proDetail.trainerPromotionNoticeCode}"
        />
        <input type="hidden" name="userId" th:value="${session.SID}" />
        <button type="submit" id="promotionPaymentCheckBtn">
          모집신청하기
        </button>
      </form>
    </div>
  </th:block>
</html>
