<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/main/default}" lang="en">
<title th:text="${title}"></title>
<th:block layout:fragment="mainContent">
  <div class="container">
    <h1>결제</h1>
    <form id="formData">
      프로모션 코드 : <input type="text" name="trainerPromotionNoticeCode"
        th:value="${promotion.trainerPromotionNoticeCode}" /> <br />
      프로모션 이름 : <input type="text" id="promotionName" name="promotionName" th:value="${promotion.trainerPromotionName}" /> <br />
      트레이너 아이디 : <input type="text" id="trainerId" name="trainerId" th:value="${promotion.userId}" /> <br />
      프로모션 가격 : <input type="text" id="trainerPromotionPrice" th:value="${promotion.trainerPromotionPrice}" /> <br />
      회원 아이디 : <input type="text" id="userId" name="userId" th:value="${member.memberId}" /> <br />
      회원 이름 : <input type="text" id="userName" th:value="${member.memberName}" /> <br />
      회원 주소 : <input type="text" id="userAddr" th:value="${member.memberAddr}" /> <br />
      회원 전화번호 : <input type="text" id="userPhone" th:value="${member.memberPhone}" /> <br />
      회원 쿠폰 : <select id="coupon" name="userCouponCode" th:if="${#lists.size(userCouponList) > 0}"
        th:each="l : ${userCouponList}">
        <option value=null>===선택하지 않음===</option>
        <option th:if="${#lists.size(l.couponList) > 0}" th:each="c : ${l.couponList}" th:value="${l.userCouponCode}"
          th:text="${c.userPlatformCouponDetails}">
        </option>
      </select>
      <br />
      결제 방법 : <select id="pg" name="paymentMethodName">
        <option value="kakao">카카오페이(간편결제)</option>
        <option value="html5_inicis">이니시스(웹표준결제)</option>
        <option value="nice">나이스페이</option>
        <option value="jtnet">제이티넷</option>
        <option value="uplus">LG유플러스</option>
        <option value="danal">다날</option>
        <option value="payco">페이코</option>
        <option value="syrup">시럽페이</option>
        <option value="paypal">페이팔</option>
      </select>
      <br>
      결제 가격 : <input type="text" id="purchaseMoney" name="purchaseMoney" th:value="${promotion.trainerPromotionPrice}" />
      <!--트레이너 프로모션 모집 시작일  --> 
      <input type="hidden" name="trainerPromotionRecruitStartDate" th:value="${promotion.trainerPromotionRecruitStartDate}" />
      <!--트레이너 프로모션 모집 종료일  --> 
      <input type="hidden" name="trainerPromotionRecruitEndDate" th:value="${promotion.trainerPromotionRecruitEndDate}" />
      <!--트레이너 프로모션 트레이너 프로모션 참여 시작 일자  --> <input type="hidden" name="trainerPromotionAttendStartDate"
        th:value="${promotion.trainerPromotionAttendStartDate}" />
      <button id="check_module" type="button">
        결제하기
      </button>
      <button id="check_module2" type="button">
        결제하기 테스트 버튼
      </button>
    </form>
    <br />
  </div>
</th:block>

</html>

<script type="text/javascript" th:inline="javascript">
  $("#coupon").change(function () {
    var coupon = $("#coupon option:checked").text();
    var trainerPromotionPrice = $('#trainerPromotionPrice').val();
    var sum = null;
    if (coupon != "===선택하지 않음===") {
      sum = trainerPromotionPrice - coupon;
      $("#purchaseMoney").val(sum);
    }else {
      $("#purchaseMoney").val(trainerPromotionPrice);
    }

    if (sum < 0) {
      alert("쿠폰을 사용할수 없습니다.")
      $("#purchaseMoney").val(trainerPromotionPrice);
    }
  });
  
  $("#check_module2").click(function () {

    // var formData = $("#formData").serialize();
    // console.log(formData);

      var formData = $('#formData').children();
      var jsonParseData = {};
      $.each(formData, function(index, item){
          var subName = $(this).attr('name');
          var subData = $(this).val();
          jsonParseData[subName] = subData;
      });
      console.log(JSON.stringify(jsonParseData));
    
    $.ajax({
      type: "post",
      url: "/promotionPaymentInsert",
      data: JSON.stringify(jsonParseData),
      contentType: "application/json; charset=UTF-8",
      dataType: 'text',   
      success: function (response) {
        alert(response);
      }
    });
  })


  $("#check_module").click(function () {
    var IMP = window.IMP; // 생략가능
    IMP.init("imp52487011");
    // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
    // i'mport 관리자 페이지 -> 내정보 -> 가맹점식별코드
    IMP.request_pay(
      {
        pg: $('#pg').val(), // version 1.1.0부터 지원.
        /*
        'kakao':카카오페이,
        html5_inicis':이니시스(웹표준결제)
        'nice':나이스페이
        'jtnet':제이티넷
        'uplus':LG유플러스
        'danal':다날
        'payco':페이코
        'syrup':시럽페이
        'paypal':페이팔
        */
        pay_method: "card",
        /*
        'samsung':삼성페이,
        'card':신용카드,
        'trans':실시간계좌이체,
        'vbank':가상계좌,
        'phone':휴대폰소액결제
        */
        merchant_uid: "merchant_" + new Date().getTime(),

        //결제창에서 보여질 프로모션 이름       
        name: $('#promotionName').val(),
        ///결제창에서 보여질 가격
        amount: $('#purchaseMoney').val(),

        // buyer_email: "iamport@siot.do",
        //결제창에서 보여질 사는사람이름
        buyer_name: $('#userName').val(),
        //결제창에서 보여질 사는 전화번호
        buyer_tel: $('#userPhone').val(),
        //결제창에서 보여질 사는 주소
        buyer_addr: $('#userAddr').val()
        // buyer_postcode: "123-456",

        // m_redirect_url: 'https://www.yourdomain.com/payments/complete'
        /*
        모바일 결제시,
        결제가 끝나고 랜딩되는 URL을 지정
        (카카오페이, 페이코, 다날의 경우는 필요없음. PC와 마찬가지로 callback함수로 결과가 떨어짐)
        */
      },
      function (rsp) {
        console.log(rsp);
        if (rsp.success) {
          
          var formData = $('#formData').children();
          var jsonParseData = {};
        
          $.each(formData, function(index, item){
           var subName = $(this).attr('name');
            var subData = $(this).val();
            jsonParseData[subName] = subData;
          });

          console.log(JSON.stringify(jsonParseData));

          $.ajax({
            type: "post",
            url: "/promotionPaymentInsert",
           data: JSON.stringify(jsonParseData),
           contentType: "application/json; charset=UTF-8",
           dataType: 'text',   
          
           success: function (response) {
            alert(response);
          }

          }) .done(function (data) {
            alert(data);
        // 가맹점 서버 결제 API 성공시 로직
        // var msg = "결제가 완료되었습니다.";
        //   msg += "고유ID : " + rsp.imp_uid;
        //   msg += "상점 거래ID : " + rsp.merchant_uid;
        //   msg += "결제 금액 : " + rsp.paid_amount;
        //   msg += "카드 승인번호 : " + rsp.apply_num;
        //   alert(msg);
        //   document.location.href = "/";
      })
         } else {
          var msg = "결제에 실패하였습니다.";
          msg += "에러내용 : " + rsp.error_msg;
          alert(msg);
        }

      }
    );
  });
</script>

</html>
</th:block>

</html>