<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/main/default}" lang="en">
<title th:text="${title}"></title>

<th:block layout:fragment="mainContent">
  <div class="container">
    <div class="row cardList">
      <div class="col-lg-3 col-md-6 promotionList" th:if="${#lists.size(promotionList) > 0}"
        th:each="p : ${promotionList}">
        <div class="card">
          <img id="promotionListImg" th:src="'/static/image/'+${p.get('trainer_promotion_bg_image')}" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title" th:text="${p.get('trainer_promotion_name')}"></h5>
            <p class="card-text" th:text="${p.get('trainer_promotion_short_contents')}"></p>
            <a th:href="@{/main/promtion/promotionDetail(proCode=${p.get('trainer_promotion_notice_code')})}"
              class="btn btn-primary">프로모션 상세보기</a>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="Page navigation" class="PromotionListPaging">
      <ul class="pagination">
        <li>
          <a th:href="@{/main/promtion/promotionList}">맨처음</a>
        </li>
        <!-- disabled가 있으면 마우스 커서가 금지표시로 바뀐다. class=disabled -->
        <li>
          <a th:if="${currentPage > 1}" th:href="@{/main/promtion/promotionList(currentPage = ${currentPage - 1 })}"
            aria-label="Previous">
            <span aria-hidden="true">«</span>
          </a>
        </li>
        <!-- 현재 페이지 -->
        <th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}">
          <li class="active">
            <span th:if="${currentPage == num}" th:text="${ num}"></span>
          </li>
          <!-- 다음 페이지 -->
          <li>
            <th:block th:unless="${num <= 0}">
            <a th:unless="${currentPage == num}" th:href="@{/main/promtion/promotionList(currentPage = ${num})}"
              th:text="${ num }"></a>
            </th:block>
          </li>
        </th:block>
        <li>
          <a th:if="${currentPage < lastPage}" th:href="@{/main/promtion/promotionList(currentPage = ${currentPage + 1 })}"
            aria-label="Next">
            <span aria-hidden="true">»</span>
          </a>
          <a th:href="@{/main/promtion/promotionList(currentPage = ${lastPage})}">맨마지막</a>
        </li>
      </ul>
    </nav>
    <a th:href="@{trainer/promtion/promotionCheck(proId=${session.SID})}" class="btn btn-primary center-block" id="promotionInsertBtn"
      th:if="${session.SLEVEL eq 'user_level_002'}">트레이너 프로모션 등록하기</a>
  </div>
  </div>
</th:block>

</html>