<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/main/default}"
  lang="en"
>
  <title th:text="${title}"></title>

  <th:block layout:fragment="mainContent">
  
    <!-- Page Content -->
    <div class="container">
  
      <!-- Heading Row -->
      <div class="row align-items-center my-5">
        <div class="col-lg-7">
          <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
          <h1 class="font-weight-light"><a th:text ="${proDetail.trainerPromotionName}"></a></h1>
          <p th:text="${proDetail.userId}"></p>
           프로모션 모집인원 : <a th:text="${proDetail.trainerPromotionRecruitPeople}"></a>
           <br>
           프로모션 현재모집인원 : <a th:text="${proDetail.trainerPromotionLiveAddPeople}"></a>
           <br>
           프로모션 가격 : <a th:text="${proDetail.trainerPromotionPrice}"></a>
           <br>
           프로모션 모집시작일자 : <a th:text="${proDetail.trainerPromotionRecruitStartDate}"></a>
           <br>
           프로모션 모집마감일자 : <a th:text="${proDetail.trainerPromotionRecruitEndDate}"></a>
           <br>
           프로모션 모집참여시작일자 : <a th:text="${proDetail.trainerPromotionAttendStartDate}"></a>
           <br>
           프로모션 모집참여종료일자 : <a th:text="${proDetail.trainerPromotionRecruitCloseDate}"></a>

           <form th:action="@{/promotionPaymentCheck}" method="Post">
            <input
              type="hidden"
              name="promotionNoticeCode"
              th:value="${proDetail.trainerPromotionNoticeCode}"
            />
            <input type="hidden" name="userId" th:value="${session.SID}" />
            <input
              type="hidden"
              name="trainerPromotionRecruitEndDate"
              th:value="${proDetail.trainerPromotionRecruitEndDate}"
            />
            <button class="btn btn-primary" type="submit" id="promotionPaymentCheckBtn">
              모집신청하기
            </button>
          
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->
  
      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">프로모션 상세내용</p>
        </div>
      </div>
  
      <!-- Content Row -->
      <img th:src="'/static/'+${proDetail.proImageUrl}" />
      <br>
      <a th:text="${proDetail.trainerPromotionDetailsContents}"></a>
      <!-- /.row -->
  
    </div>
  </th:block>
</html>
