<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/main/default}"
  lang="en"
>
  <title th:text="${title}"></title>

  <th:block layout:fragment="mainContent">
      <section>
        <div class="container">
          <form th:action="@{/snsInsert}" method="post" enctype="multipart/form-data">
            <table class="table table-bordered">
              <tr>
                <tr>
                  <td>작성자 아이디 :</td>
                  <td>
                    <input
                      type="text"
                      name="userId"
                      th:value="${session.SID}"
                      readonly="readonly"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Content</td>
                  <td><textarea rows="10" cols="100" name="userSnsContents"></textarea></td>
                </tr>
                <tr>
                  <td>Image</td>
                  <td><input type="file" name="userSnsUploadFile" /></td>
                </tr>
              </tr>
            </table>
            <button type="submit" id="snsInsertBtn" class="btn btn-default btn-lg btn-block">작성</button>
          </form>
        </div>
      </section>
  </th:block>
</html>
