<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/main/default}">
<title th:text="${title}"></title>

<th:block layout:fragment="mainContent">

  <!-- SNS 게시판 -->
  <section class="hero">
    <div class="container" >
      <div class="row" style="margin-top: 50px;'" th:if="${#lists.size(snsList)>0}" th:each="s : ${snsList}">
        <div class="col-lg-6 offset-lg-3">
          <div class="cardbox shadow-lg bg-white">
            <div class="media m-0">
              <div class="d-flex mr-3">
                <a href=""><img class="img-fluid rounded-circle"
                    src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/4.jpg" alt="User"></a>
              </div>
              <div class="media-body">
                <p class="m-0" th:text="${s.userId}"></p>
                <small><span><i class="icon ion-md-time" th:text="${s.userSnsRegDate}"></i></span></small>
              </div>
            </div>
          </div>
          <div class="cardbox-item"><img th:src="${s.snsImageUrl}"> <!-- image/207_about-bg.jpg  --></div>
          <div class="cardbox-item" th:text="${s.userSnsContents}">
          </div>
          <div class="cardbox-base">
            <ul class="float-right">
              <li><a><i class="far fa-comment-dots"></i></a></li>
              <li><a><em class="mr-5">12</em></a></li>
            </ul>
            <ul>
              <li><a><i class="far fa-heart"></i></a></li>
              <li><a><span>242</span></a></li>
            </ul>
          </div>
          <form action="">
          	<div>댓</div>
          	<div>글</div>
          	<div>댓</div>
          	<div>글</div>
          	<div>댓</div>
          	<div>글</div>
          	<div>댓</div>
          	<div>글</div>
          	<div>댓</div>
          	<div>글</div>
          	<div>댓</div>
          	<div>글</div>
          </form>
          <form th:action="@{/commentsInsertBtn}" method="post">
          <div class="cardbox-comments">
            <div class="search">
              <input placeholder="Write a comment" type="text" class="form-control" id="insertSnsComments" >
              <button type="submit"><i class="far fa-check-circle fa-fw" id="commentsInsertBtn" style="margin-top: 20px;"></i></button>
            </div>
          </div>
          </form>
        </div>

      </div>
      <div class="col-lg-2" id="sidebox" style="box-shadow: 0px 0px 1px 1px grey;">
        <div class="p-2 mb-1 bg-white">
          <div style="text-align: center;"><a th:href="@{/snsInsert(userId=${session.SID})}">New</a></div>
        </div>
      </div>

    </div>
  </section>

  <!-- snsList js연결 -->
  <!-- <script src="main_css/js/snsList.js"></script> -->

</th:block>

</html>