<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/main/default}">
<title th:text="${title}"></title>

<th:block layout:fragment="mainContent">

  <!-- SNS 게시판 -->
  <section class="hero">
    <div class="container" >
      <div class="row" style="margin-top: 50px;" th:if="${#lists.size(snsList)>0}" th:each="s : ${snsList}">
        <div class="col-lg-6 offset-lg-3">
          <div class="cardbox shadow-lg bg-white">
            <div class="media m-0">
              <div class="d-flex mr-3">
                <a href=""><img class="img-fluid rounded-circle" src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/4.jpg" alt="User"></a></div>
              <div class="media-body">
                <p class="m-0" th:text="${s.userId}"></p>
                <small><span><i class="icon ion-md-time" th:text="${s.userSnsRegDate}"></i></span></small>
              </div>
            </div>
          </div>
          <div class="cardbox-item" style="text-align: center;"><img th:src="'/static/'+${s.snsImageUrl}"> <!-- image/207_about-bg.jpg  --></div>
          <div class="cardbox-item" th:text="${s.userSnsContents}" style="text-align: center;">
          </div>
          <div class="cardbox-base">
             <ul class="float-right">
             <button type="button" style="border: 0; background-color: #fff;">
             		<li><a><i class="fa fa-comment-o"></i></a></li>
             		<li><a><em class="mr-5">12</em></a></li>
             </button>
             </ul>
             <ul>
             <button type="button" style="border: 0; background-color: #fff;">
             		<li><a><i class="far fa-heart" onclick="updateLike(this);"></i></a></li>
              		<li><a><em class="mr-5">35</em></li>
             </button>
             </ul>
          </div>
          <form action="">
          	<div class="container">
          		<div class="media col-md-12"><a href=""><image class="mr-3 rounded-circle" alt="image" src="https://i.imgur.com/stD0Q19.jpg"/></a>
          			<div class="media-body">
		                <p class="m-3" id="commentsList">댓글 내용</p>
          			</div>
          		</div>
          	</div>
          </form>
          <form>
          <div class="cardbox-comments">
            <div class="search">
              <input placeholder="Write a comment" type="text" class="form-control" id="insertSnsComments" >
              <button type="submit"><i class="far fa-check-circle fa-fw" id="commentsInsertBtn" style="margin-top: 20px;"></i></button>
            </div>
          </div>
          </form>
        </div>

      </div>
      <div class="col-lg-2" id="sidebox" style="box-shadow: 0px 0px 1px 1px grey;">
        <div class="p-2 mb-1 bg-white">
          <div style="text-align: center;"><a th:href="@{/snsInsert(userId=${session.SID})}">New</a></div>
        </div>
      </div>
    <nav aria-label="Page navigation" class="SnsListPaging" style="text-align: center">
      <ul class="pagination">
        <li>
          <a th:href="@{/sns}">first page</a>
        </li>
        <li>
          <a th:if="${currentPage > 1}" th:href="@{/sns(currentPage = ${currentPage - 1 })}"
            aria-label="Previous">
            <span aria-hidden="true">«</span>
          </a>
        </li>
        <th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}">
          <li class="active">
            <span th:if="${currentPage == num}" th:text="${ num}"></span>
          </li>
          <li>
            <th:block th:unless="${num <= 0}">
            <a th:unless="${currentPage == num}" th:href="@{/sns(currentPage = ${num})}"
              th:text="${ num }"></a>
            </th:block>
          </li>
        </th:block>
        <li>
          <a th:if="${currentPage < lastPage}" th:href="@{/sns(currentPage = ${currentPage + 1 })}"
            aria-label="Next">
            <span aria-hidden="true">»</span>
          </a>
          <a th:href="@{/snsList(currentPage = ${lastPage})}">last page</a>
        </li>
      </ul>
    </nav>
    </div>
  </section>
</th:block>

</html>