<section
  class="categories_area clearfix"
  id="about"
  th:fragment="CategoriesFragment"
>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single_catagory wow fadeInUp" data-wow-delay=".3s">
          <div>금메달 리스트</div>
          <img src="img/catagory-img/1.jpg" alt="" />
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single_catagory wow fadeInUp" data-wow-delay=".6s">
          <img src="img/catagory-img/2.jpg" alt="" />
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single_catagory wow fadeInUp" data-wow-delay=".9s">
          <img src="img/catagory-img/3.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
