<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="spinner" style="
        background: #4267b2;
        border-radius: 5px;
        color: white;
        height: 40px;
        text-align: center;
        width: 300px;
        ">
        <div>
            FaceBook Login Button2
        </div>
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with"
            data-use-continue-as="true"></div>
    </div>
    <form class="form-signin" role="form">
        <div id="status"></div>
        <h2 class="form-signin-heading">User Registration</h2>

        <label for="inputFname" class="sr-only">First Name</label>
        <input type="text" id="inputFname" class="form-control" placeholder="First Name" required autofocus>

        <label for="inputLname" class="sr-only">First Name</label>
        <input type="text" id="inputLname" class="form-control" placeholder="Last Name" required>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button class="btn btn-sm btn-primary btn-block" type="submit">Sign Up</button> <button
            class="btn btn-sm btn-primary btn-block" onclick="_login();" type="submit">Sign Up using Facebook</button>
    </form>
    <!-- <script>
        var finished_rendering = function () {
            console.log("finished rendering plugins");
            var spinner = document.getElementById("spinner");
            spinner.removeAttribute("style");
            spinner.removeChild(spinner.childNodes[0]);
        }
        FB.Event.subscribe('xfbml.render', finished_rendering);
    </script> -->
</body>
<script>
    // Load the SDK asynchronously
    (function (thisdocument, scriptelement, id) {
        var js, fjs = thisdocument.getElementsByTagName(scriptelement)[0];
        if (thisdocument.getElementById(id)) return;

        js = thisdocument.createElement(scriptelement); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js"; //you can use 
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1449392918617564', //Your APP ID
            cookie: true,  // enable cookies to allow the server to access 
            // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v9.0' // use version 2.1
        });

        // These three cases are handled in the callback function.
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

    };

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            _i();
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        }
    }

    function _login() {
        FB.login(function (response) {
            // handle the response
            if (response.status === 'connected') {
                _i();
            }
        }, { scope: 'public_profile,email' });
    }

    function _i() {
        FB.api('/me', function (response) {
            document.getElementById("inputFname").value = response.first_name;
            document.getElementById("inputLname").value = response.last_name;
            document.getElementById("inputEmail").value = response.email;
        });
    }

</script>

</html>