<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <h1>식품안전나라 API test</h1>
    <input class="foodInput">
    <div>
        <input type="checkbox" name="searchCategory" value="food">
        <input type="checkbox" name="searchCategory" value="makerName">
        <button onclick="checkCategory()">check 박스에서 선택된 값 가져오기</button>

    </div>

    <button class="foodApiTest">TEST</button>
    <table border="1">
        <thead>
            <tr>
                <th>식품이름</th>
                <th>식품칼로리</th>
                <th>단백질</th>
                <th>탄수화물</th>
                <th>지방</th>
                <th>나트륨</th>
            </tr>
            </tr>
        </thead>
        <tbody id="wData">
            <tr>
                <td colspan="2">확인 버튼을 눌러주세요.</td>
            </tr>
        </tbody>
    </table>

    <script>
        var selectValue = "";

        function checkCategory() {

            $('input[type="checkbox"]:checked').each(function(index) {
                if (index != 0) {
                    selectValue += ', ';
                }
                selectValue += $(this).val();
            });
            alert(selectValue);
        }

        $(".foodApiTest").click(function() {
            var html = "";
            var food = $('.foodInput').val();
            console.log(food)
            var request = $.ajax({
                url: "/food1ApiTest",
                method: "get",
                data: {
                    food: food
                },
                dataType: "json",
            });
            request.done(function(data) {
                console.log(data);
                alert("success");
                for (var i = 0; i < data.length; i++) {
                    html += '<tr>';
                    html += '<td>';
                    html += data[i].foodName;
                    html += '</td>';
                    html += '<td>';
                    html += data[i].foodCal;
                    html += '</td>';
                    html += '<td>';
                    html += data[i].foodCarbo;
                    html += '</td>';
                    html += '</tr>';
                }
                $('#wData').html(html);
            });
            request.fail(function(jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            });
        });
    </script>
</body>

</html>