<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/main/default}"
  lang="en"
>
  <title th:text="${title}"></title>

  <th:block layout:fragment="mainContent">
    <div th:replace="fragments/main/sliders :: slidersFragment"></div>

    <div th:replace="fragments/main/Categories :: CategoriesFragment"></div>
    <div th:replace="fragments/main/blog_area2 :: blogareaFragment"></div>
  </th:block>
</html>
