<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Thymeleaf</title>
</head>
<body>
	<form th:if="${session.USERID == null}" th:action="@{/login}" method="post">
    <h1>로그인</h1>
    아이디 : <input type="text" name="id" /><br />
    비밀번호 : <input type="text" name="pw" />
    <button type="submit"> 로그인</button>
  </form>
		<div th:unless="${session.USERID == null}">		
      <label  th:text="${'id: ' + session.USERID + '(' + session.USERLEVEL +')'+' '+session.USERNIKNAME+'님이  로그인하셨습니다.'}"></label>
      <br>
      <a th:href="@{/logout}">로그아웃</a>
    </div>
  <div th:if="${session.USERLEVEL eq '트레이너'}">
    <a th:href="@{/pro(proId=${session.USERID})}">트레이너 프로모션 등록하기</a>
</div>
<a th:href="@{/proList}">트레이너 프로모션 목록보기</a>
</body>
</html>