<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>선택 화면</title>
  </head>
  <body>
    <h1>뭘바 그냥 선택</h1>

    <div class="contentDivide1">
      <div class="goMaster">
        <div></div>
        <div></div>
      </div>
      <div class="goUser">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="contentDivide2">
      <div class="github">
        <ul>
          <li class="githubId"></li>
          <li class="githubId"></li>
          <li class="githubId"></li>
          <li class="githubId"></li>
          <li class="githubId"></li>
          <li class="githubId"></li>
        </ul>
      </div>
    </div>
  </body>
</html>
