<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
	img {
		white : 200px;
		height: 200px;
	}
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
  </head>
  <body>
      <table border="1">
        <tr>
          <td>프로모션 작성자 아이디</td>
          <td th:text="${proDetail.proId}" >
          </td>
          </tr>
        <tr>
          <td>프로모션 이름 :</td>
          <td th:text = "${proDetail.proName}"></td>
        </tr>
        <tr>
          <td>프로모션 목표 :</td>
          <td th:text = "${proDetail.proGoal}"></td>
        </tr>
         <tr>
          <td>프로모션 이미지 :</td>
          <td><img th:src="${proDetail.proImageUrl}"></td>
        </tr>
        <tr>
          <td>프로모션 간략내용 :</td>
          <td th:text = "${proDetail.proShortcon}"></td>
        </tr>
        <tr>
          <td>프로모션 상세내용 :</td>
          <td th:text = "${proDetail.proDetailscon}"></td>
        </tr>
        <tr>
          <td>프로모션 모집인원 :</td>
          <td th:text = "${proDetail.proPeople}"></td>
        </tr>
        <tr>
          <td>프로모션 가격 :</td>
          <td th:text = "${proDetail.proPrice}"></td>
        </tr>
        <tr>
          <td>프로모션 모집시작일자 :</td>
          <td th:text = "${proDetail.proStartDate}"></td>
        </tr>
        <tr>
          <td>프로모션 모집마감일자 :</td>
          <td th:text = "${proDetail.proEndDate}"></td>
        </tr>
        <tr>
          <td>프로모션 모집참여시작일자 :</td>
          <td th:text = "${proDetail.proAttendStartDate}"></td>
        </tr>
        <tr>
          <td>프로모션 모집참여종료일자 :</td>
          <td th:text = "${proDetail.proRecruitcloseDate}"> </td>
        </tr>
      </table>
      
      <form th:action="@{/proPayment}" method="Post" >
      <input type="hidden" name="proCode" th:value="${proDetail.proCode}">
      <input type="hidden" name="proId" th:value="${proDetail.proId}"> 
      <input type="hidden" name = "proPrice" th:value="${proDetail.proPrice}"> 
      <input type="hidden" name = "userId" th:value="${session.USERID}"> 
      <button type="submit">모집신청하기</button>
      
    </form>
  </body>
 
</html>
