<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/login/default}"
  lang="en"
>
<th:block layout:fragment="mainContent">
    <div class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                </div>
                <form th:action="@{/mInsert}" method="post" id="sign_form">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <input
                        type="text"
                        class="form-control form-control-user"
                        placeholder="userId"
                        id="userId"
                        name="memberId"
                      />
                      <button
                        type="button"
                        class="btn btn-primary"
                        id="userIdCheck"
                        name="userIdCheck"
                        style="margin: 7px"
                      >
                        중복체크
                      </button>
                    </div>
                    <div class="col-sm-12">
                      <input
                        type="hidden"
                        name="memberLevel"
                        th:value="${level}"
                      />
                      <input
                        type="password"
                        class="form-control form-control-user"
                        placeholder="userPassword"
                        id="userPassword"
                        name="memberPw"
                      />
                    </div>
                    <div class="col-sm-12">
                      <input
                        type="password"
                        class="form-control form-control-user"
                        placeholder="userPwCheck"
                        id="userPwCheck"
                        name="userPwCheck"
                      />
                    </div>
                    <div class="col-sm-12">
                      <input
                        type="text"
                        class="form-control form-control-user"
                        placeholder="userAddr"
                        id="userAddr"
                        name="memberAddr"
                      />
                    </div>
                    <div class="col-sm-12">
                      <input
                        type="text"
                        class="form-control form-control-user"
                        placeholder="userName"
                        id="userName"
                        name="memberName"
                      />
                    </div>
                    <div class="col-sm-12">
                      <input
                        type="date"
                        class="form-control form-control-user"
                        placeholder="userBirth"
                        id="userBirth"
                        name="memberBirth"
                      />
                    </div>
                    <div class="col-sm-12">
                      <input
                        type="text"
                        class="form-control form-control-user"
                        placeholder="userNickName"
                        id="userNickName"
                        name="memberNickname"
                      />
                    </div>
                    <div class="col-sm-12">
                      <input
                        type="text"
                        class="form-control form-control-user"
                        placeholder="userPhone"
                        id="userPhone"
                        name="memberPhone"
                      />
                    </div>
                    <div class="col-sm-12">
                      <input
                        type="text"
                        class="form-control form-control-user"
                        placeholder="userEmail"
                        id="userEmail"
                        name="memberEmail"
                      />
                    </div>
                    <div class="col-sm-12">
                      <input
                        type="radio"
                        name="memberGender"
                        value="man"
                        checked="checked"
                      />남
                      <input type="radio" name="memberGender" value="woman" />여
                    </div>
                  </div>
                </form>
                <button
                  id="sign_up"
                  disabled="disabled"
                  class="btn btn-primary btn-user btn-block"
                >
                  회원가입
                </button>
                <hr />
                <div class="text-center">
                  <a class="small" href="forgot-password.html">비밀번호 찾기</a>
                </div>
                <div class="text-center">
                  <a class="small" href="/">이미 회원이세요? 로그인하세요.!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</th:block>
</html>

