<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	    layout:decorate="@{master_layout/default}"
	  >

<table border="1" class="table_test">
		<thead>
			<tr>
				<th>아이디</th>
				<th>비밀번호</th>
				<th>이름</th>
				<th>권한</th>
				<th>이메일</th>
				<th>주소</th>
				<th>등록날짜</th>
				<th>수정</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${#lists.size(userList) > 0}" th:each="l : ${userList}">
				<td th:text="${l.userId}"></td>
				<td th:text="${l.userPw}"></td>
				<td th:text="${l.userName}"></td>
				<td th:text="${l.userLevelCode}"></td>
				<td th:text="${l.userEmail}"></td>
				<td th:text="${l.userAddr}"></td>
				<td th:text="${l.userRegDate}"></td>
				<td>
					<a th:href="@{/modifyMember (userId=${l.userId})}">수정</a>
				</td>
				<td>
					<!--ex : /removeMember?memberId=id001&memberLevel=관리자  -->
					<a th:href="@{/removeMember(userId=${l.userId}, userLevelCode=${l.userLevelCode})}">삭제</a>
				</td>
			</tr>		
		</tbody>
	</table>
<style>
.table_test{
margin-left: 50px;
}
</style>
</html>