.Header_Area {
  border-bottom: 1px solid gray;
}

.logo_area .yummy-logo {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 60px;
  margin-bottom: 0;
  padding: 35px 0 20px 0;

  display: inline-block;
  color: #232d37;
  width: 100%;
  /* 메인 로고 CSS */
}
.Header_Area .row {
  margin-left: 0px;
  margin-right: 0px;
}
.Header_Area .row #logo_area {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar.navbar-expand-lg {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white;

  /* 메인메뉴바 CSS */
}

.navbar.navbar-expand-lg .navbar-nav .nav-link {
  padding: 15px 40px;
  color: #232d37;
  text-transform: uppercase;
  font-size: 14px;
}

.navbar.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar.navbar-expand-lg .navbar-nav .active .nav-link {
  color: #fc6c3f;
}

.dropdown-item {
  font-weight: 500;
  color: #232d37;
  font-size: 14px;
  text-transform: uppercase;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #fc6c3f;
  text-decoration: none;
  background-color: #f8f9fa;
}
