<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{master_layout/default}"
>
<th:block layout:fragment="customContent">
	<div class="container-fluid">
		<h1>회원리스트</h1>
					<!-- <button type="button"></button> -->
					<table border="1">
						<thead>
							<tr>
								<th>userId</th>
								<th>userLevel</th>
								<th>userPassword</th>
								<th>userName</th>
								<th>userAddr</th>
								<th>userNickName</th>
								<th>userPhone</th>
								<th>userEmail</th>
								<th>userBirth</th>
								<th>userGender</th>
								<th>userMainBank</th>
								<th>userBankNumber</th>
								<th>userBankMaster</th>
								<th>userRegDate</th>
								<th>수정</th>
								<th>삭제</th>
							</tr>
						</thead>
						<tbody><!--이거 수정 모르겠음.타임리프 공부  -->
							<!-- <tr th:each="l : ${memberlist}">
								<td th:text="${l.userId}"></td>
								<td th:text="${l.userLevel}"></td>
								<td th:text="${l.userPassword}"></td>
								<td th:text="${l.userName}"></td>
								<td th:text="${l.userAddr}"></td>
								<a th:href="@{/modifyMember(memberId=${l.memberId})}">수정</a>
								</td>
								<td>ex : /removeMember?memberId=id001&memberLevel=관리자 <a
									th:href="@{/removeMember(memberId=${l.memberId}, memberLevel=${l.memberLevel})}">삭제</a>
								</td>
							</tr>
						</tbody> -->
					</table>
	</div>
</th:block>
</html>
