<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="@{default_layout/main/default}" lang="en">


<th:block layout:fragment="mainContent">
  <div class="container">
    <div class="top-level-header">
      <h1>음식 Information</h1>
      <span>음식 정보를 소개합니다.</span>
    </div>
    <div class="search-box">
      <form th:action="@{/food/foodSearchList}" method="post">
        <h3>음식 종류/분류 별 검색하기</h3>
        <select name="food_group_list">
          <option selected="" disabled="">음식 분류 선택하기</option>
          <option th:text="전체"></option>
          <th:block th:if="${#lists.size(foodGroupList)}>0" th:each="food : ${foodGroupList}">
                  <option th:text="${food.foodGroup}"></option>
                </th:block>
        </select>
        <input type="text" name="food_name">
        <button type="submit" class="btn btn-success">검색하기</button>
      </form>
    </div>
    <!-- <div class="swiper-container col-sm-12 col-xs-12">
      <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="e : ${easy}">
          <div>
            <h1 th:text="${e.exerciseName}"></h1>
            <h3>예상 에너지소비량 (70kg)이신 분에 대한</h3>
            <p>5분 : <span th:text=${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*5/1000)*5,0)}></span>kal
            </p>
            <p>10분 : <span th:text=${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*10/1000)*5,0)}></span>kal
            </p>
            <p>15분 : <span th:text=${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*15/1000)*5,0)}></span>kal
            </p>
            <p>30분 : <span th:text=${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*30/1000)*5,0)}></span>kal
            </p>
            <a th:href="@{/exercise/exerciseInfo(exerciseName=${e.exerciseName})}">자세히보기</a>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <h3>칼로리별 음식 소개도</h3>
    </div>
    <div class="row">
      <table class="table-bordered  col-md-4">
        <tr>
          <th colspan="3">저 칼로리</th>
        </tr>
        <tr>
          <td>음식이름</td>
          <td>칼로리</td>
          <td>총량(1인분)</td>
        </tr>
        <tr th:each="e : ${easy}">
          <td>
            <a th:text="${e.exerciseName}" th:href="@{/exerciseInfo(exerciseName=${e.exerciseName})}"></a>
          </td>
          <td th:text="${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*60/1000)*5,0)}"></td>
          <td th:text="${e.exerciseMetCoeffcient}"></td>
        </tr>
      </table>
      <table class="table-bordered  col-md-4">
        <tr>
          <th colspan="3">중 칼로리</th>
        </tr>
        <tr>
          <td>음식이름</td>
          <td>칼로리</td>
          <td>총량(1인분)</td>
        </tr>
        <tr th:each="e : ${normal}">
          <td>
            <a th:text="${e.exerciseName}" th:href="@{/exerciseInfo(exerciseName=${e.exerciseName})}"></a>
          </td>
          <td th:text="${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*60/1000)*5,0)}"></td>
          <td th:text="${e.exerciseMetCoeffcient}"></td>
        </tr>
      </table>
      <table class="table-bordered  col-md-4">
        <tr>
          <th colspan="3">고 칼로리</th>
        </tr>
        <tr>
          <td>음식이름</td>
          <td>칼로리</td>
          <td>총량(1인분)</td>
        </tr>
        <tr th:each="e : ${hard}">
          <td>
            <a th:text="${e.exerciseName}" th:href="@{/exerciseInfo(exerciseName=${e.exerciseName})}"></a>
          </td>
          <td th:text="${#numbers.formatInteger(e.exerciseMetCoeffcient*(3.5*70*60/1000)*5,0)}"></td>
          <td th:text="${e.exerciseMetCoeffcient}"></td>
        </tr>
      </table>
    </div>
    <div class="row">
      <a th:href="@{/exercise/allExerciseList}" style="display: block;">전체보기</a>
    </div>
  </div>
</th:block>

</html>