.owl-carousel {
}
.categories_area .owl-carousel .item {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  height: 500px;
  background: #808080;
  text-align: center;
  margin: 10px;
}

.categories_area .owl-carousel .item img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.owl-prev,
.owl-next {
  position: absolute;
}

.owl-prev {
  left: -70px;
  top: 40%;
}

.owl-next {
  right: -70px;
  top: 40%;
}

.categories_area {
  padding: 30px 0 50px 0;
}

.single_catagory {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  height: 500px;
  background: #808080;
  text-align: center;
}

.single_catagory img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.catagory-title {
  width: 200px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  text-align: center;
  border-radius: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.single_catagory:hover .catagory-title {
  background-color: #fc6c3f;
}

.catagory-title a > h5 {
  margin-bottom: 0;
  line-height: 50px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.single_catagory:hover .catagory-title a > h5 {
  color: #fff;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.slider{
  max-width: 1100px;
  display: flex;
}
.slider .card{
  flex: 1;
  margin: 0 10px;
  background: #fff;
}
.slider .card .img{
  height: 200px;
  width: 100%;
}
.slider .card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content{
  padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
}
.card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button{
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover{
  transform: scale(0.9);
}

.sub_copy_box .sub_copy_body {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}
