<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<!-- head Start -->

<head th:replace="fragments/head :: headFragment">


</head>
<style>
img {
	width: 200px;
	height: 200px;
}

.center-block {
	text-align: center;
}

table {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
</style>
<!-- head END -->

<body>
	<!-- Preloader Start -->
	<div id="preloader">
		<div class="yummy-load"></div>
	</div>

	<!-- ****** Top Header Area Start ****** -->
	<div th:replace="fragments/TopHeader :: topHeaderFragment"></div>
	<!-- ****** Top Header Area End ****** -->

	<!-- ****** Header Area Start ****** -->
	<header class="header_area"
		th:replace="fragments/header :: headerFragment"></header>
	<!-- ****** Header Area End ****** -->
	
	<!-- 신고 상세 조회 페이지 -->
	<h2 align="center">신고 내용</h2>



	<!-- ****** Footer Menu Area Start ****** -->
	<div th:replace="fragments/Footer_Menu :: FooterMenuFragment"></div>
	<!-- ****** Footer Menu Area End ****** -->

	<!-- Jquery-2.2.4 js start-->
	<div th:replace="fragments/Jquery :: jsFragment"></div>
	<!-- Jquery-2.2.4 js END -->
</body>

</html>