<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<body>
    <div class="center-block" >
		<div class="container">
       <table class = "table table-bordered">
		<thead>
			<tr>
				<th>사용자 신고 번호</th>
				<th>트레이너 사용자 매칭 번호</th>
				<th>신고 카테고리</th>
				<th>신고 상세 사유</th>
				<th>신고등록날자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${#lists.size(reportList) > 0}" th:each="r : ${reportList}">
				<td th:text="${r.reportUserCode}"></td>
				<td th:text="${r.trainerUserMatchingCode}"></td>
				<td th:text="${r.reportCategoriesCode}"></td>
				<td th:text="${r.reportUserReasonDetail}"></td>
				<td th:text="${r.reportUserRegDate}"></td>
			</tr>		
		</tbody>
	</table>
	<a th:href="@{/reportInsert}">신고 등록하기</a>
	<a th:href="@{/reportModify}">신고 수정하기</a>
	<a th:href="@{/reportDelete}">신고 삭제하기</a>
		</div>
    </div>

    <!-- Jquery-2.2.4 js start-->
    <div th:replace="fragments/Jquery :: jsFragment"></div>
    <!-- Jquery-2.2.4 js END -->
</body>

</html>