<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<!-- head Start -->

<head th:replace="fragments/head :: headFragment">


</head>
<style>
img {
	width : 200px;
	height: 200px;
}
.center-block{
	text-align: center;
}
 table{
	margin-top : 20px;
 	margin-left: auto;
 	margin-right: auto;
 	text-align: center;

}

</style>
<!-- head END -->


<!-- 공통 JavaScript -->
<script type="text/javascript" src="/js/common/jquery.js"></script>
<script type="text/javascript">
    
    $(document).ready(function(){        
        
    });
        
    /** 게시판 - 목록 페이지 이동 */
    function goReportList(){                
        location.href = "/report_board/reportList";
    }
    
    /** 게시판 - 작성  */
    function insertBoard(){
        var reportContent = $("#report_content").val();
                
        if (boardContent == ""){            
            alert("내용을 입력해주세요.");
            $("#report_content").focus();
            return;
        }
        
        var yn = confirm("신고글을 등록하시겠습니까?");        
        if(yn){
                
            $.ajax({    
                
                url        : "/report_board/reportinsert",
                data    : $("#reportBoardForm").serialize(),
                dataType: "JSON",
                cache   : false,
                async   : true,
                type    : "POST",    
                success : function(obj) {
                    insertBoardCallback(obj);                
                },           
                error     : function(xhr, status, error) {}
                
            });
        }
    }
    
    /** 게시판 - 작성 콜백 함수 */
    function insertBoardCallback(obj){
    
        if(obj != null){        
            
            var result = obj.result;
            
            if(result == "SUCCESS"){                
                alert("게시글 등록을 성공하였습니다.");                
                goBoardList();                 
            } else {                
                alert("게시글 등록을 실패하였습니다.");    
                return;
            }
        }
    }
    
</script> 
</head>
<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="yummy-load"></div>
    </div>

    <!-- ****** Top Header Area Start ****** -->
    <div th:replace="fragments/TopHeader :: topHeaderFragment"></div>
    <!-- ****** Top Header Area End ****** -->

    <!-- ****** Header Area Start ****** -->
    <header class="header_area" th:replace="fragments/header :: headerFragment"></header>
    <!-- ****** Header Area End ****** -->
<div id="wrap">
    <div id="container">
        <div class="inner">        
            <h2>게시글 작성</h2>
            <form id="reportBoardForm" name="reportBoardForm">
                <table width="100%" class="table02">
                <caption><strong><span class="t_red">*</span> 표시는 필수입력 항목입니다.</strong></caption>
                    <colgroup>
                        <col width="20%">
                        <col width="*">
                    </colgroup>
                    <tbody id="tbody">
                        <tr>
                               <li>
                               <div class="dropdown-menu" aria-labelledby="reportDropdown">
                			   <a class="dropdown-item" >성희롱을 해요</a>
                			   </div>
                			   </li>
                            <th>카테고리</th>
                            <td><input id="report_subject" name="report_subject" value="" class="tbox01"/></td>
                        </tr>
                        <tr>
                            <th>작성자<span class="t_red">*</span></th>
                            <td><input id="board_writer" name="board_writer" value="" class="tbox01"/></td>
                        </tr>
                        <tr>
                            <th>내용<span class="t_red">*</span></th>
                            <td><textarea id="report_content" name="report_content" cols="10" rows="5" class="textarea01"></textarea></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="btn_right mt15">
                <button type="button" class="btn black mr5" onclick="javascript:goReportList();">신고목록으로</button>
                <button type="button" class="btn black" onclick="javascript:reportInsert();">신고 등록하기</button>
            </div>
        </div>
    </div>
</div>
  <!-- ****** Footer Menu Area Start ****** -->
    <div th:replace="fragments/Footer_Menu :: FooterMenuFragment"></div>
    <!-- ****** Footer Menu Area End ****** -->

    <!-- Jquery-2.2.4 js start-->
    <div th:replace="fragments/Jquery :: jsFragment"></div>
    <!-- Jquery-2.2.4 js END -->
</body>

</html>