<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<!-- head Start -->

<head th:replace="fragments/head :: headFragment">
</head>
<style>
img {
	width : 200px;
	height: 200px;
}
.center-block{
	text-align: center;
}
 table{
	margin-top : 20px;
 	margin-left: auto;
 	margin-right: auto;
 	text-align: center;

}

</style>
<!-- head END -->

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="yummy-load"></div>
    </div>

    <!-- ****** Top Header Area Start ****** -->
    <div th:replace="fragments/TopHeader :: topHeaderFragment"></div>
    <!-- ****** Top Header Area End ****** -->

    <!-- ****** Header Area Start ****** -->
    <header class="header_area" th:replace="fragments/header :: headerFragment"></header>
    <!-- ****** Header Area End ****** -->


    <div class="center-block" >
		<div class="container">
       <table class = "table table-bordered">
		<thead>
			<tr>
				<th>사용자 신고 번호</th>
				<th>트레이너 사용자 매칭 번호</th>
				<th>신고 카테고리</th>
				<th>신고 상세 사유</th>
				<th>신고등록날자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${#lists.size(reportList) > 0}" th:each="r : ${reportList}">
				<td th:text="${r.reportUserCode}"></td>
				<td th:text="${r.trainerUserMatchingCode}"></td>
				<td th:text="${r.reportCategoriesCode}"></td>
				<td th:text="${r.reportUserReasonDetail}"></td>
				<td th:text="${r.reportUserRegDate}"></td>
			</tr>		
		</tbody>
	</table>
	<a th:href="@{/reportInsert}">신고 등록하기</a>
		</div>
    </div>



    <!-- ****** Footer Menu Area Start ****** -->
    <div th:replace="fragments/Footer_Menu :: FooterMenuFragment"></div>
    <!-- ****** Footer Menu Area End ****** -->

    <!-- Jquery-2.2.4 js start-->
    <div th:replace="fragments/Jquery :: jsFragment"></div>
    <!-- Jquery-2.2.4 js END -->
</body>

</html>